<ion-header no-border>
  <ion-toolbar style="margin-top: 10px">
    <ion-title>Chat</ion-title>
       <ion-button icon-only (click)="closeChat()" slot="end">
        <ion-icon name="close"></ion-icon>
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content padding text-center class="yes-scroll">
  <div class="followed-items">
    <ion-list >
      <div *ngFor="let event of eventList">
        <div
          text-wrap
          detail="false"
          lines="none"
          class="driver"
          *ngIf="!event.user"
        >
          <p class="chatTxt">{{event.driver}}</p>
      </div>
        <div
          text-wrap
          detail="false"
          lines="none"
          class="user"
          *ngIf="!event.driver"
        >
          <p class="chatTxt">{{event.user}}</p>
      </div>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input
          type="text"
          placeholder="Type a message"
          [(ngModel)]="data.message"
          name="message"
        ></ion-input>
      </ion-col>
      <ion-col size="2" (click)="Send()" >
        <ion-icon name="paper-plane" style="font-size: 34px;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          id="container_1"
          class="button"
          size="large"
          color="primary"
          (click)="closeChat()"
        >
          Close
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          id="container_1"
          class="button"
          size="large"
          color="green"
          (click)="Send()"
        >
          New Message
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
