ion-content {
  h1 {
    background: rgba(219, 205, 8, 0.91);
    font-size: 1.67em;
    padding-top: 7px;
    width: auto;
    padding-bottom: 7px;
  }

  .followed-items {
    .driver {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 5px;

      padding: 10px;

      width: 100%;

      p {
        font-size: 16px;
        font-size: 4vw;
        color: white;
      }
    }

    .user {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 30px;
      border: 1px solid rgb(216, 216, 216);

      padding: 10px;
      float: left;
      width: 80%;

      p {
        font-size: 16px;
        font-size: 4vw;
        color: white;
      }
    }
  }

  .topped-items {
    ion-item {
      margin-top: 0px;
      margin-bottom: 6px;
    }
    h2 {
      color: orange;
      font-size: 1.27em;
      padding: 2px;
    }

    ion-label {
      color: rgb(0, 153, 255) !important;
      font-size: 1em;
      padding: 2px;
    }
  }
}

#container_1 {
  margin-top: 2%;
  height: auto;
  width: 100%;
  padding: 25px;
  border-radius: 4px;
  color: white;
  text-align: center;
  background: rgb(69, 202, 255);

  overflow: hidden;
  ion-icon {
    color: rgb(255, 255, 255);
  }
  h2 {
    font-size: 1em;
    height: auto;
  }

  ion-icon {
    margin: 5px;
  }

  .profile-pic {
    width: 15%;
    height: 18%;
  }
}
