<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button size="large" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <span style="padding-left:30px; font-size: 1.0em"> DOCUMENTS </span>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content padding text-center class='yes-scroll'>
  <div class='followed-items'>
    <ion-list text-center>
      <div text-center *ngFor="let event of eventList">
        <ion-item class='driver' (click)='GotoItem(event)'>
          <h2 style="font-size: 1.2em">{{event.title}}</h2>

          <ion-buttons slot="end">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-buttons>

          <!-- <div *ngFor='let eve of eventLists'> -->
          <h2 color='danger' *ngIf='days < 0'><strong>{{event.expired}}</strong></h2>
          <h2 color='danger' *ngIf='days > 0'><strong></strong>Expired</h2>

          <ion-buttons slot="end">
            <ion-icon *ngIf='days > 0' color='danger' name="alert"></ion-icon>
          </ion-buttons>

          <div *ngIf='event.permission'>
            <h3 *ngIf='event.permission == 0'>Optional</h3>
            <h3 *ngIf='event.permission == 1'></h3>
          </div>

          <!-- </div> -->



        </ion-item>
      </div>
    </ion-list>

  </div>
</ion-content>


<ion-footer>

</ion-footer>