<ion-header no-border>
  <ion-toolbar>
    <ion-button (click)="goBack()" ion-button color="primary" fill="clear">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="yes-scroll" color="light">
  <div id="dvMap" style="width: auto; height: 180px"></div>

  <ion-item class="hists" lines="none">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="date">
              <ion-icon name="calendar-outline"></ion-icon
              ><strong>{{currentEvent?.date}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- <h3 class='price'><ion-icon name="cash"></ion-icon> <strong>{{settings.appcurrency}}{{riderpaid}}</strong></h3> -->
            <ion-label class="location">
              <ion-icon name="locate"></ion-icon
              ><strong>{{currentEvent?.location}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- <h3 class='price'><ion-icon name="cash"></ion-icon> <strong>{{settings.appcurrency}}{{riderpaid}}</strong></h3> -->
            <ion-label class="destination">
              <ion-icon name="flag"></ion-icon
              ><strong>{{currentEvent?.destination}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- <h3 class='price'><ion-icon name="cash"></ion-icon> <strong>{{settings.appcurrency}}{{riderpaid}}</strong></h3> -->
            <ion-label class="price">
              <ion-icon name="contact"></ion-icon><strong>{{prof.name}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          
            <ion-label class="date">  
              <ion-icon name="car"></ion-icon
              ><strong>{{currentEvent?.name}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </div>
  </ion-item>
  <!-- <ion-title padding text-center>RIDER PAID</ion-title><br>
  <ion-title padding text-center
    ><strong>{{settings.appcurrency}}{{(riderpaid)}}</strong></ion-title
  > -->

  <!-- <ion-item lines="none" padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label
            text-center
            style="
              font-weight: 600;
              color: rgb(75, 75, 75);
              margin: 5px;
              text-align: center;
            "
          >
            Ride Cost</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label text-center style="margin: 5px">
            <strong
              >{{settings.appcurrency}}{{(currentPrie)}}</strong
            ></ion-label
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item> -->

<!-- -->

  <ion-item padding>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label
            text-center
            style="
              font-weight: 600;
              color: rgb(75, 75, 75);
              margin: 5px;
              text-align: center;
            "
            >Ride Cost
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label text-center style="margin: 5px">
            <strong
              >{{settings.appcurrency}}{{(currentPrie)}}</strong
            ></ion-label
          >
        </ion-col>

        <ion-col size="6">
          <ion-label text-center style="
                                font-weight: 600;
                                color: rgb(75, 75, 75);
                                margin: 5px;
                                text-align: center;
                              ">
            Wait Time Cost</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label text-center style="margin: 5px">
            <strong>{{settings.appcurrency}}{{(waitTimeCost)}}</strong></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

<ion-title padding text-center>PAYMENT MADE</ion-title>
<ion-title text-center><strong>{{settings.appcurrency}}{{(driverMade)}}</strong></ion-title>

  <div *ngIf="currentEvent?.tip != 0">
    <!-- <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title padding text-center>TIPS</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title text-center><strong>{{settings.appcurrency}}{{myTip}}</strong></ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->

    <ion-item class="hists" no-lines padding text-cente>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-label
              style="
                margin: 5px;
                text-overflow: inherit;
                white-space: normal;
                font-weight: 600;
                color: dimgray;
              "
            >
              Date
            </ion-label>
          </ion-col>
          <ion-col size="9">
            <ion-label
              style="text-overflow: inherit; white-space: normal; margin: 5px"
            >
              <strong>{{dateOfTip}}</strong></ion-label
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- 
    <div text-center *ngFor="let surge of surcharges">
      <div *ngIf='surge.owner == 0'>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-title padding style="text-overflow: inherit; white-space: normal; margin: 5px;">{{surge.title}}
              </ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label *ngIf='surge.bone == 0' padding> <strong>-${{(surge.price)}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label *ngIf='surge.bone == 1' padding>
                <strong>-${{((surge.price/100) * myTip).toFixed(2)}}</strong>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>



      </div>
    </div> -->

    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title padding text-center>Final Tip : <strong>{{settings.appcurrency}}{{(totemTIPS)|| 0}}</strong>
          </ion-title>

        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>
</ion-content>
