<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-button (click)="closeModal()" color="primary" fill="clear">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
      <span style="margin-left: 30px; font-size: 1.4em">CLOSE</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll" padding>
  <ion-title text-center>FARE BREAKDOWN</ion-title>

  <ion-title padding text-center>RIDER PAY</ion-title>
  <ion-title padding text-center
    ><strong>{{settings.appcurrency}}{{(riderpaid)}}</strong></ion-title
  >
  <ion-item no-lines padding>
    <div text-center>
      <ion-title>Ride Cost</ion-title>
      <ion-title padding text-center no-lines
        ><strong>{{settings.appcurrency}}{{(riderpaid)}}</strong></ion-title
      >
    </div>
  </ion-item>

  <ion-title padding text-center>DRIVER MADE</ion-title>
  <ion-title text-center
    ><strong>{{settings.appcurrency}}{{(driverMade)}}</strong></ion-title
  >

  <ion-item no-lines padding>
    <div text-center>
      <ion-title>Ride Cost</ion-title>
      <ion-title padding text-center no-lines
        ><strong>{{settings.appcurrency}}{{(riderpaid)}}</strong></ion-title
      >
    </div>
  </ion-item>

  <div text-center class="whiteFlap">
    <ion-title>
      <img class="profile-pic" [src]="info.Driver_picture" />
    </ion-title>

    <ion-title>Driver Name: {{info.Driver_name}} </ion-title>
    <!-- <h4 text-center>License No # : {{info.Driver_license}}</h4> -->
  </div>

  <div text-center class="whiteFlap">
    <ion-item>
      <h4 text-center>
        Rating: +{{info.Driver_Positive_rating}}/{{info.Driver_Negative_rating}}
      </h4></ion-item
    >
    <ion-item>Car Type: {{info.Driver_carType}}</ion-item>
    <ion-item><h4 text-center>Plate No: {{info.Driver_plate}}</h4> </ion-item>
    <ion-item> <h4 text-center>SEATS: {{info.Driver_seats}}</h4></ion-item>
  </div>

  <div padding text-center id="buttonContainer2">
    <ion-item no-lines detail-none ion-item class="guttonz">
      <ion-label class="stack" (click)="onChange($event)">
        <h1>CANCEL THIS TRIP</h1>
      </ion-label>
      <!-- <ion-select
        [(ngModel)]="currentCar"
        (ionChange)="onChange($event)"
        multiple="false"
      >
        <div *ngFor="let item of items">
          <ion-select-option value="{{item.text}}"
            >{{item.text}}</ion-select-option
          >
        </div>
      </ion-select> -->
    </ion-item>
  </div>
</ion-content>
