ion-card-header {
  text-align: center;
  color: rgb(0, 0, 0);
}

.drive {
  color: blue;
}

.price {
  color: blue;
}

.date {
  color: red;
}

.destination {
  color: green;
}

h3 {
  font-size: 1.2em;
  color: blue;
  text-align: center;
}

ion-item {
  // border-radius: $buttonRadius;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(216, 216, 216) !important;
}

h1 {
  text-align: center;
  font-size: 1.2em;
  //width: 100% !important;
  color: blue;
}

p {
  font-size: 1.3em;
  height: auto;
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 1em;

  color: rgb(90, 90, 90);
}

.hists {
  border: 1px solid rgb(216, 216, 216) !important;

  font-size: 1.1em;
  width: 100%;
  border-radius: 12px;
  //padding: 6px;
  background: white;

  color: rgb(0, 0, 0);
}
