ion-content {
  form {
    margin-bottom: 26px;
    height: 200px auto;
    background: white;
    padding: 10px;
    border-radius: 12px;
    margin-top: 20px;

    button {
      margin-top: 20px !important;
      border-radius: 12px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    text-align: center;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border: 1px solid #ff6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }
}
