<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="o-scroll" padding>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>


    <ion-label color='primary' position="stacked">{{lp.translate()[0].email}}</ion-label>
    <ion-input lines="none" formControlName="email" type="email" placeholder="Your email address"
      [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
    </ion-input>

    <ion-item lines="none" class="error-message"
      *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
      <p>{{lp.translate()[0].validemail}}</p>
    </ion-item>

    <ion-button padding expand="block" type="submit" [disabled]="!resetPasswordForm.valid">
      {{lp.translate()[0].submit}}
    </ion-button>

  </form>

</ion-content>