<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button size="large" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <span style="padding-left:30px; font-size: 1.0em">{{Lang[0].rideSch}}</span>
    </ion-button>

  </ion-toolbar>
</ion-header>
<ion-content padding class="no-scroll">
  <!-- These are the location bar and destination bar -->

  <div *ngIf='scheduleInfo == null'>
    <div text-center class="whiteFlap">
      <div class="bars">
        <p>{{Lang[0].from}}</p>

        <!-- location bar -->
        <ion-button lines="none" detail="false" class="bars-locate" (click)="showAddressModal(1)">
          <ion-icon color='deep' name="locate" slot="icon-start"></ion-icon>
          <div id="position">{{locationName}}</div>
        </ion-button>
        <p>{{Lang[0].to}}</p>
        <!-- desination bar -->
        <ion-button lines="none" detail="false" class="bars-destinate" (click)="showAddressModal(2)">
          <ion-icon color='deep' name="flag" slot="icon-start"></ion-icon>
          <div id="whereto">{{Lang[0].dest}}</div>
        </ion-button>


      </div>





      <div class='top-items'>
        <ion-item lines="none">
          <ion-label text-center>{{Lang[0].date}}</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="myDate" (ionChange)='Chosen($event)' min='2018'
            max="2020-10-31"></ion-datetime>
        </ion-item>
      </div>
    </div>
  </div>




  <div *ngIf='scheduleInfo != null' class='followed-items'>
    <ion-list text-center>
      <ion-item>
        <h2 class='ride'><strong>
            <ion-icon color='deep' name="timer"></ion-icon>{{Lang[0].rideSchu}}
          </strong></h2>
        <h2 class='date'><strong>
            <ion-icon color='deep' name="calendar"></ion-icon>{{dataTime}}
          </strong></h2>
        <h2 class='date'><strong>
            <ion-icon color='primary' name="clock"></ion-icon>@{{scheduleInfo.Client_Time}}
          </strong></h2>
        <h2 class='location'><strong>
            <ion-icon color='deep' name="locate"></ion-icon>{{scheduleInfo.Client_locationName}}
          </strong></h2>
        <h2 class='destination'><strong>
            <ion-icon color='deep' name="navigate"></ion-icon>{{scheduleInfo.Client_destinationName}}
          </strong></h2>

        <ion-button detail-none id='button' color="danger" no-lines text-center icon-start ion-item
          (click)="CancelRide()">
          {{Lang[0].clear}}
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>