.top-items {
  border-radius: 12px;
  margin-top: 20%;
  ion-item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    background: rgb(10, 100, 235);
    ion-label {
      color: white !important;
      text-align: center;
      margin-left: 10%;
    }
  }
}

#envelope {
  height: auto;
  width: 4em;
}

.ride {
  color: rgba(219, 205, 8, 0.91);
  font-size: 1.17em;
  padding-top: 14px;
  padding-bottom: 14px;

  border-radius: 12px;
  ion-icon {
    font-size: 0.8em;
    padding: 12px;
    color: rgba(219, 205, 8, 0.91);
  }
}

.price {
  color: rgba(219, 205, 8, 0.91);
  font-size: 1.67em;
  padding-top: 14px;
  padding-bottom: 14px;

  border-radius: 12px;
  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: rgba(219, 205, 8, 0.91);
  }
}

.date {
  color: orange;
  font-size: 1.47em;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(216, 216, 216);

  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: rgba(219, 205, 8, 0.91);
  }
}

.time {
  color: rgb(44, 136, 241);
  font-size: 1.17em;
  padding-top: 14px;
  padding-bottom: 14px;

  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: rgba(219, 205, 8, 0.91);
  }
}

.location {
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  p {
    font-size: 1.3em;
    height: auto;
  }

  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: orange;
  }
}

.destination {
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: darkslateblue;
  }
}

.followed-items {
  margin-top: 10%;

  ion-item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid rgb(216, 216, 216);
  }
}

.bars {
  margin-top: 0%;
  padding: 12px;

  .poiter {
    z-index: 5;
    margin-left: 1%;
    background: rgba(240, 240, 240, 0.92);
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
  }

  .bars-locate {
    height: 50px;
    width: 100%;
    background: rgba(240, 240, 240, 0.92);
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-left: 0%;

    z-index: 3;
    border-radius: 12px;
    overflow: hidden;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      color: rgb(10, 100, 235);
      padding: 5px;
    }
  }

  .bars-destinate {
    height: 50px;
    width: 100%;
    background: rgba(240, 240, 240, 0.92);
    margin: 3% 0 0 -50px;
    margin-left: 0%;
    z-index: 3;
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    overflow: hidden;
    border-radius: 12px;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      padding: 5px;
      color: rgba(219, 205, 8, 0.91);
    }
  }

  .bars-price {
    height: 50px;
    width: 100%;
    background: #ffffff;
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);

    z-index: 3;
    border-radius: 12px;
    overflow: hidden;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      color: rgb(10, 100, 235);
      padding: 5px;
    }
  }
}

#position {
  text-align: center;
  padding-left: 17px;
}

#whereto {
  text-align: center;
  padding-left: 17px;
}

#cash {
  text-align: center;
  padding-left: 17px;
}

#button {
  border-radius: 12px;
}
