<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button size="large" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <span style="padding-left:30px; font-size: 1.0em"> {{lp.translate()[0].calc}}</span>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content padding class='yes-scroll'>
  <!-- These are the location bar and destination bar -->

  <div text-center class="whiteFlap">
    <div class="bars">
      <p>{{lp.translate()[0].from}}</p>

      <!-- location bar -->
      <ion-button lines="none" detail="false" class="bars-locate" (click)="showAddressModal(1)">
        <ion-icon color='deep' name="locate" slot="start"></ion-icon>
        <div id="position">{{locationName}}</div>
      </ion-button>
      <p>{{lp.translate()[0].to}}</p>
      <!-- desination bar -->
      <ion-button lines="none" detail="false" class="bars-destinate" (click)="showAddressModal(2)">
        <ion-icon color='deep' name="flag" slot="start"></ion-icon>
        <div id="whereto">{{lp.translate()[0].dest}}</div>
      </ion-button>

      <p>{{lp.translate()[0].price}}</p>
      <ion-button lines="none" detail="false" class="bars-price">
        <ion-icon color='deep' name="cash" slot="start"></ion-icon>
        <div id="cash">{{lp.translate()[0].priceappear}}</div>
      </ion-button>

      <p>{{lp.translate()[0].pvc}}</p>
    </div>
  </div>






</ion-content>