<ion-content class='ion-padding'>

  <ion-item>
    <img [src]='news'>
  </ion-item>
  <ion-button lines="none" detail="false" class='button' expand="block" padding (click)='CloseNow()'>
    Close Message
  </ion-button>
</ion-content>