<ion-header no-border>
    <ion-toolbar style="margin-top: 20px">
        <ion-button size="large" fill="clear" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
            <span style="padding-left:30px; font-size: 1.0em"> {{lp.translate()[0].lang}} </span>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
    <ion-item>
        <ion-label padding color='deep'>
            <ion-icon color='primary' name="ios-happy"></ion-icon>
            {{lp.translate()[0].lang}}
        </ion-label>
        <ion-select (ionChange)="onSelectChange($event)">
            <ion-select-option value="en" selected>English</ion-select-option>
            <ion-select-option value="fr">French</ion-select-option>
            <ion-select-option value="gm">German</ion-select-option>
            <ion-select-option value="tk">Turkish</ion-select-option>
            <ion-select-option value="rs">Russian</ion-select-option>
            <ion-select-option value="az">Azerbaijani</ion-select-option>
            <ion-select-option value="pr">Portuguese</ion-select-option>
        </ion-select>
    </ion-item>
</ion-content>