<ion-content class="no-scroll">
  <div id="map" style="height: 100%; width: 100%">
    <div class="topBar">
      <ion-button
        (click)="toggle()"
        color="trans"
        style="
          --border-radius: 100%;
          width: 60px;
          height: 60px;
          --vertical-align: middle;
          --padding-start: -5px;
          --padding-end: -5px;
        "
      >
        <ion-icon name="ios-menu" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button
        color="dark"
        *ngIf=""
        (click)="ReturnHome()"
        class="Menubutton"
        style="
          --border-radius: 100%;
          width: 50px;
          height: 50px;
          --vertical-align: middle;
          --padding-start: -5px;
          --padding-end: -5px;
        "
      >
        <ion-icon color="light" name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <div [hidden]="pop.onRequest" class="bars">
      <div *ngIf="cMap.hasShown">
        <div class="bookingSect2" [hidden]="cMap.selected_destination_bar">
          <h3
            color="light"
            style="font-size: 1.3em"
            class="ion-padding"
            class="ion-text-center"
            *ngIf="ph.name != undefined"
          >
            Hi, {{ph.name}}
          </h3>
          <h3
            color="light"
            style="font-size: 1.3em"
            class="ion-padding"
            class="ion-text-center"
            *ngIf="ph.name == undefined"
          >
            Welcome!
          </h3>

          <ion-grid>
            <ion-row>
              <ion-col id="iCol" (click)="toggleMoreSection()">
                <ion-button class="bars-locate" color="dark">
                  <ion-icon slot="start" name="search"></ion-icon>
                  Where are you going ?
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div class="bookingSect" [hidden]="!cMap.selected_destination_bar">
        <ion-grid>
          <ion-row>
            <ion-col id="iCol" size="10">
              <ion-button
                [hidden]="!cMap.onLocationbarHide"
                class="bars-locate"
                color="dark"
              >
                <div id="location">{{myGcode.locationName}}</div>
              </ion-button>
            </ion-col>

            <ion-col size="2">
              <ion-button
                color="dark"
                [hidden]="!cMap.onLocationbarHide"
                [disabled]="cMap.showDone"
                class="Menubutton"
                style="
                  --border-radius: 100%;
                  width: 50px;
                  height: 50px;
                  --vertical-align: middle;
                  --padding-start: -5px;
                  --padding-end: -5px;
                "
              >
                <ion-icon
                  color="primary"
                  name="pin"
                  slot="icon-only"
                ></ion-icon>
              </ion-button>
              <div class="verticalLine"></div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col id="iCol" size="10">
              <ion-button
                [hidden]="!cMap.onDestinatiobarHide"
                class="bars-destinate"
                color="dark"
              >
                <div id="destination">Your Destination</div>
              </ion-button>
            </ion-col>

            <ion-col size="2">
              <ion-button
                color="dark"
                [hidden]="!cMap.onDestinatiobarHide"
                [disabled]="cMap.showDone"
                class="Menubutton"
                style="
                  --border-radius: 100%;
                  width: 50px;
                  height: 50px;
                  --vertical-align: middle;
                  --padding-start: -5px;
                  --padding-end: -5px;
                "
              >
                <ion-icon color="danger" name="pin" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
