ion-content {
   font-family: "Montserratt";
  margin-top: 0%;
}

.my-custom-class .modal-wrapper {
  background: #222;
}

.TaxiICon2 {
  width: 70px;
  height: 70px;
  vertical-align: middle;
  text-align: center;
}

.TaxiICon {
  width: 100px;
  height: 35px;
  // vertical-align: middle;
  // text-align: center;
}

.TaxiIComfirm {
  width: 100px;
  height: 35px;
  // vertical-align: middle;
  // text-align: center;
}

.listRow:hover {
  background-color: black;
  color: white;
  // --background-hover: blue;
}

.align-col {
  // text-align: left;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  // margin-left: 16px;
  // margin-bottom: 16px;
}

.listRow {
  // height: 60px;
}
.item-radio-checked {
  --background: black !important;
  color: white !important;
}
.active {
  background-color: black;
  color: white;
}

.imgStyle {
  vertical-align: middle;
  text-align: center;
}

.spinners {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 14px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.scrolling-wrapper {
  overflow: auto !important;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border-radius: 30px;
  padding: 0px;
  margin-top: 22px;
  #stf {
    margin: 5px;
    width: 100px;
    height: 100px;
    font-size: 1em;
    background: rgb(216, 216, 216);
    //margin-left: 30px;
    border-radius: 30px;
    // box-shadow: 0px 0px 5px 0px rgba(3, 3, 3, 0.253);
    img {
      background: rgb(216, 216, 216);
      padding: 6px;
      border-radius: 30px;
      width: 90px;
      height: 90px;
    }
    h3 {
      text-align: center;
      padding: 1px;
    }
  }
  #stf2 {
    margin: 3px;
    width: auto;
    height: auto;
    font-size: 1em;
    // background: rgb(216, 216, 216);
    //margin-left: 30px;
    border-radius: 30px;
    // box-shadow: 0px 0px 5px 0px rgba(3, 3, 3, 0.253);
    h3 {
      text-align: center;
      padding: 1px;
    }
  }
}

.centerText {
  text-align: center;
  font-size: 16px !important;
}

.scrolling-wrapper2 {
  overflow: auto !important;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border-radius: 30px;
  padding: 0px;
  margin-top: 22px;
  animation-direction: alternate;
  animation-name: bump;
  animation-duration: 1.1s;
  animation-iteration-count: 1;
  background: #fdfdfd;
  #stf {
    margin: 7px;
    width: 100px;
    height: 100px;
    font-size: 1em;
    background: rgb(216, 216, 216);
    //margin-left: 30px;
    border-radius: 30px;
    // box-shadow: 0px 0px 5px 0px rgba(3, 3, 3, 0.253);
    img {
      //background: rgb(216, 216, 216);
      padding: 16px;
      border-radius: 30px;
    }
  }
}

ion-item {
  width: 100%;
}

ion-footer {
  font-family: "Humanst";
  margin-top: 0% !important;
}

.mid-right {
  // float: right;
  padding-left: 80%;
  margin-top: 20%;
  z-index: 3;
}

.topBar {
  height: 50px;
  padding: 8px;
  width: 100%;
  margin-top: 5%; //change to 10%
  z-index: 3;
  // background: linear-gradient(rgba(95, 94, 94, 0.041), rgba(2, 92, 161, 0)38);
  ion-icon {
    padding: 0px;
    color: #000000;
  }
  .locate {
    width: auto;
    float: right;
    margin: 14px;
    height: 40px;
    background: var(--ion-color-primary);
    // box-shadow: 0px 0px 12px 0px rgba(3, 3, 3, 0.253);
    // border: 1px solid rgb(216, 216, 216);
    border-radius: 50px;
    ion-icon {
      font-size: 1.5em;
      color: #fdfdfd;
      padding: 15px;
    }
  }
}

.hidden {
  animation-direction: alternate;
  animation-name: wiki;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

ion-content {
  @keyframes left_right {
    0% {
      left: 75%;
    }
    50% {
      left: 80%;
    }
    100% {
      left: 75%;
    }
  }
  @keyframes left_right2 {
    0% {
      left: 55%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 55%;
    }
  }
  @keyframes wiki {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }
  @keyframes bump {
    0% {
      top: 100%;
    }
    // 50% {top: 90%;}
    100% {
      top: 60%;
    }
  }
  @keyframes bump2 {
    0% {
      top: 120%;
    }
    // 50% {top: 90%;}
    100% {
      top: auto;
    }
  }
  [noScroll] {
    overflow: hidden;
  }
  .bars {
    margin-top: 15%; //change to 13%
    padding-top: 18px;
    .poiter {
      z-index: 5;
      margin-left: 1%;
      background: #bd2121;
      border-left: 1.1px solid rgb(216, 216, 216);
      border-right: 1.1px solid rgb(216, 216, 216);
      border-top: 1px solid rgb(216, 216, 216);
      border-bottom: 1px solid rgb(216, 216, 216);
    }
    .bars-whereto {
      height: auto;
      width: 90%;
      background: var(--ion-color-primary);
      margin-top: -5%; //change to 13%
      animation-direction: alternate;
      animation-name: bump;
      animation-duration: 1s;
      //margin: -12% 0 0 -50px;
      margin-left: 5%;
      padding: 2%;
      box-shadow: 0px 0px 5px 0px rgba(3, 3, 3, 0.253);
      z-index: 0;
      // border: 1px solid rgb(216, 216, 216);
      //border-radius: 30px;
      overflow: hidden;
      //line-height:20px;
      font-size: 1.5em;
      text-align: left;
      .myText {
        //margin-left: 6%;
        color: rgb(243, 243, 243);
        font-style: bold;
        font-size: 1em;
        text-align: center;
      }
      .myText2 {
        //margin-left: 6%;
        color: rgb(243, 243, 243);
        font-style: bold;
        font-size: 1.3em;
        text-align: center;
      }
      ion-icon {
        position: absolute;
        font-size: 2.1em;
        right: 4%;
        //  background: #bd2121;
        border-radius: 30px;
        color: #000000;
      }
    }
    .bars-whereto2 {
      height: 60px;
      width: 90%;
      background: #bd2121;
      margin: -12% 0 0 -50px;
      margin-left: 5%;
      //  box-shadow: 0px 0px 5px 0px  rgba(3, 3, 3, 0.253);
      z-index: 0;
      animation-name: wiki;
      animation-duration: 0.3s;
      border: 1px solid red;
      border-radius: 30px;
      overflow: hidden;
      line-height: 20px;
      font-size: 1.5em;
      text-align: left;
      .myText {
        margin-left: 6%;
        color: gray;
      }
      ion-icon {
        position: absolute;
        font-size: 1.8em;
        left: 2%;
        color: #000000;
        padding: 5px;
      }
    }
    .bookingSect2 {
      position: fixed;
      //background: white;  //Will use later
      background: rgba(255, 255, 255, 0);
      padding: 2%;
      height: auto;
      top: 80%;
      width: 90%;
      border-radius: 30px;
      margin-left: 5%;
      .myText {
        //margin-left: 6%;
        color: var(--ion-color-primary);
        font-style: bold;
        font-size: 1em;
        text-align: center;
      }
      .myText2 {
        //margin-left: 6%;
        color: rgb(243, 243, 243);
        font-style: bold;
        font-size: 1.3em;
        text-align: center;
      }
      ion-icon {
        // position: absolute;
        font-size: 2.1em;
        right: 4%;
        //  background: #bd2121;
        border-radius: 30px;
        color: #fbb91d;
      }
      .bars-locate {
        height: 66px;
        width: 100%;
        background: rgb(0, 0, 0);
        color: #fbb91d !important;
        margin-left: 0%;

        border-radius: 30px;
        overflow: hidden;

        font-size: 1.2em;
      }
    }

    // .Menubutton:before {
    //   content: "";
    //   // position: absolute;
    //   border-left: 1px solid !important;
    //   left: 14px !important;
    //   background: orange !important;
    //   bottom: 0 !important;
    //   z-index: -1 !important;
    //   height: 100% !important;
    // }

    .verticalLine::after {
      width: 1%;
      height: 50px;
      background: green;
      margin: auto;
      margin-top: 0;
      position: relative;
      margin-left: 10%;
    }
    .bookingSect {
      //background: white; // will use later
      background: rgba(255, 255, 255, 0);
      padding: 2%;
      position: fixed;
      height: auto;
      width: 90%;
      border-radius: 30px;
      margin-left: 5%;
      top: 70%;
      //  margin-top: -12% ;
      //border: 1px solid rgb(216, 216, 216);
      //  box-shadow: 0px 0px 4px 0px  rgba(3, 3, 3, 0.253);
      z-index: 12;
      .bars-locate {
        height: 66px;
        width: 100%;
        background: white;
        //border: 0.8px solid color($colors, doom, base);
        //  box-shadow: 0px 0px 4px 0px  rgba(3, 3, 3, 0.253);
        //  margin: -12% 0 0 -50px;
        margin-left: 0%;
        // z-index: 3;
        // border: 1px solid rgb(216, 216, 216);
        border-radius: 30px;
        overflow: hidden;
        // line-height:20px;
        font-size: 1.4em;
        float: left;
      }
      .bars-locate-pin {
        width: auto;
        float: right;
        margin-top: 1%;
        background: #fdfdfd;
        // border: 1px solid rgb(216, 216, 216);
        border-radius: 30px;
        ion-icon {
          font-size: 1.3em;
          margin-left: 2%;
          color: red;
          padding: 5px;
          animation-direction: alternate;
          animation-name: left_right2;
          animation-duration: 0.8s;
        }
      }
      .bars-destinate {
        height: 66px;
        width: 100%;
        background: white;
        // border: 0.8px solid color($colors, doom, base);
        //  margin: -12% 0 0 -50px;
        margin-left: 0%;
        // z-index: 3;
        //  box-shadow: 0px 0px 4px 0px  rgba(3, 3, 3, 0.253);
        // border: 1px solid rgb(216, 216, 216);
        border-radius: 30px;
        overflow: hidden;
        // line-height:20px;
        font-size: 1.4em;
        text-align: center;
        float: left;
      }
      .bars-destinate-pin {
        width: auto;
        float: right;
        margin-top: 1%;
        background: #fdfdfd;
        // border: 1px solid rgb(216, 216, 216);
        border-radius: 30px;
        ion-icon {
          font-size: 1.4em;
          margin-left: 2%;
          color: var(--ion-color-primary);
          padding: 5px;
          animation-direction: alternate;
          animation-name: left_right2;
          animation-duration: 0.8s;
        }
      }
    }
  }
  .reset {
    height: 5%;
    width: 10%;
    background: #bd2121;
    position: absolute;
    margin-left: 85%;
    top: 12%;
    margin-top: 0%;
    z-index: 1;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 30px;
    font-size: 1.5em;
    text-align: center;
    ion-icon {
      margin-top: 4%;
    }
  }
  h3 {
    color: #000000;
    font-size: 0.7em;
    font-weight: 300;
  }
  h1 {
    color: #ffffff;
    font-size: 0.7em;
  }
  .stack {
    text-align: center;
    font-size: 0.5em;
    color: white;
  }
  .guttonz {
    // background: red;
    // border-radius: 30px;
    // height: auto;
    // width: 50%;
    // margin-left: 27%;

    // color: white;
  }
  #myCol {
    width: 0% !important;
    padding: 0px;
  }
  #iCol {
    width: 50% !important;
    padding: 0px;
  }
  #rides {
    // border-radius: 30px;
    z-index: 4;
    // border: 1px solid rgb(216, 216, 216);
    // height: 100% !important;
    //padding: 5px;
    font-size: 3em;
    padding: 6px;
    width: 100%;
    background: rgba(240, 240, 240, 0.92);
  }
  #rides_bigger {
    border-radius: 30px;
    z-index: 4;
    border: 1px solid rgb(216, 216, 216);
    height: auto;
    overflow: visible;
  }
  .bars-gps {
    height: 50px;
    width: 90%;
    background: rgba(240, 240, 240, 0.92);
    position: absolute;
    margin: -50px 0 0 -50px;
    margin-left: 5%;
    top: 20%;
    z-index: 1;
    border: 1px solid var(--ion-color-primary);
    overflow: hidden;
    border-radius: 30px;
    line-height: 50px;
    font-size: 1.2em;
    text-align: center;
    color: var(--ion-color-primary);
  }
  .bars-position {
    height: 50px;
    width: 20%;
    background: rgba(240, 240, 240, 0.92);
    margin: -50px 0 0 -50px;
    margin-left: 5%;
    top: 20%;
    z-index: 1;
    border: 1px solid red;
    overflow: hidden;
    border-radius: 30px;
    line-height: 50px;
    font-size: 1.2em;
    text-align: center;
    color: red;
  }
  // }
  .bar {
    position: fixed;
    height: 35px;
    width: 70%;
    background: var(--ion-color-primary);
    margin-left: 15%;
    z-index: 4;
    top: 60%;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 30px;
    font-size: 1.1em;
    text-align: center;
    color: white;
    .icon {
      position: absolute;
      font-size: 1.6em;
      right: 2%;
      padding: 0px;
      color: #fdfdfd;
      animation-name: left_right;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      display: inline;
    }
    .textleft {
      float: left;
      border: 1.4px solid #fdfdfd;
      padding: 9px;
      z-index: 3;
      border-radius: 30px;
      font-size: 0.9em;
    }
  }
  .leftButton {
    float: left;
    width: 10%;
    border-radius: 30px;
    font-size: 1em;
    text-align: center;
    background: white;
    h1 {
      color: var(--ion-color-primary);
    }
  }
  .previous {
    margin-top: 40px;
  }
  .centerMarker {
    z-index: 1;
    margin-top: 41% !important;
    .middy {
      position: absolute;
      left: 45%;
      margin-left: 5%;
      background: rgb(56, 56, 56);
      height: 30px;
      top: 0%;
      margin-top: 0%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 0.65%;
      // @media only screen and (min-width: 1024px) {
      //   margin-top: 60%;
      //   }
    }
  }
  #nugget {
    position: fixed;
    z-index: 2;
    background: var(--ion-color-primary);
    height: 15px;
    width: 4%;
    left: 45%;
    margin-left: 3.4%;
    margin-top: -4% !important;
    // top: 30% !important;
    border-radius: 50px;
  }
  @media only screen and (min-width: 1024px) {
    #nugget {
      position: fixed;
      z-index: 2;
      background: var(--ion-color-primary);
      height: 15px;
      width: 4%;
      left: 45%;
      margin-left: 3.4%;
      margin-top: -1% !important;
      // top: 30% !important;
      border-radius: 50px;
    }
  }
  #hider {
    margin-left: 73%;
    top: 3%;
    .hutton {
      padding: auto;
      border-radius: 40px;
      width: 57%;
      // box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.253);
      ion-icon {
        margin-left: 5% !important;
      }
    }
  }
  .scroll {
    height: 100%;
  }
  #map {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
  }
  .bottom-bar {
    height: auto;
    width: 100%;
    background: white;
    position: absolute;
    // top: 70%;
    margin: -50px 0 0 -50px;
    margin-left: 0%;
    bottom: 0%;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    //border: 1px solid rgb(216, 216, 216);
    // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
    .butt {
      color: lightgoldenrodyellow;
      font-size: 1.2em;
    }
    // .bottom-list{
    //   margin-top: 90%;
    //   overflow-x: auto;
    //    .my-grid{
    //     width: auto;
    .pricey {
      border-radius: 30px;
      background: var(--ion-color-primary);
      margin: 2%;
      padding: 1%;
      font-size: 1.2em;
      width: 33%;
      color: rgb(255, 255, 255);
      z-index: 9;
      border: 1px solid var(--ion-color-primary);
      margin-left: 30%;
      margin-top: 0%;
    }
    .topey {
      border-radius: 30px;
      // background: rgba(240, 240, 240, 0.92);
      margin: 2%;
      // padding: 1%;
      font-size: 0.9em;
      // width: 50%;
      color: var(--ion-color-primary);
      // margin-left: 10%;
      margin-top: 8%;
      margin-bottom: 8%;
    }
    button {
      margin: auto;
      // bottom: -106px;
      height: 35px;
      text-align: center;
    }
    .booker {
      border-top: 1px solid rgba(3, 3, 3, 0.253);
      // box-shadow: 0px -1px 4px 0px rgba(3, 3, 3, 0.253);
      height: auto;
      // overflow: hidden !important;
      .gutton {
        //  background: linear-gradient(rgba(1, 17, 41, 0.89), rgba(8, 25, 44, 0.623) rgba(3, 17, 31, 0.438)) , url($myUrl) no-repeat;
        border-radius: 30px;
        height: 50px;
        // width: 100%;
        color: var(--ion-color-primary);
        // box-shadow: 0px 0px 6px 0px rgba(3, 3, 3, 0.253);
        //border: 1px solid var(--ion-color-primary);
        //background-position: left;
        font-size: 1.3em;
      }
    }
    .tTha {
      color: var(--ion-color-primary) !important;
    }
    .guttonq {
      //  background: linear-gradient(rgba(1, 17, 41, 0.89), rgba(8, 25, 44, 0.623) rgba(3, 17, 31, 0.438)) , url($myUrl) no-repeat;
      border-radius: 30px;
      height: auto;
      // width: 80%;
      // margin-left: 40px;
      // box-shadow: 0px 0px 6px 0px rgba(3, 3, 3, 0.253);
      //border: 1px solid var(--ion-color-primary);
      //background-position: left;\
      color: var(--ion-color-primary);
      font-size: 1.3em;
      padding: 10px;
    }
    .text {
      padding-bottom: 0px;
      // border: 1px solid var(--ion-color-primary);
      font-size: 1.16em;
      color: #fdfdfd;
      //border-radius: 30px;
    }
  }
  #myGrid {
    overflow-x: auto !important;
    width: auto !important;
  }
  #myGrid2 {
    overflow-x: auto !important;
    width: auto !important;
  }
  #cart-btn {
    position: relative;
    background-color: red;
  }
  #cart-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
  }
  .bottom-list {
    margin-top: 90%;
    overflow-x: auto;
    .my-grid {
      width: auto;
      .stuffs {
        height: 48.5px;
        margin-left: 34%;
        padding: 0%;
        width: 29.5%;
        top: 0px;
        vertical-align: middle;
        border-radius: 12px;
        font-size: 1em;
        text-align: center;
        // border: 1.2px solid  #fdfdfd,;
        // box-shadow: 0px 0px 5px 0px rgba(3, 3, 3, 0.253);
        z-index: 3;
        .itemPics {
          width: 100%;
        }
      }
    }
  }

  .yellowBtn {
    color: rgb(0, 0, 0) !important;
  }

  .loca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
  }

  .dott {
    width: 20px;
    height: 20px;
  }

  .centerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emailbtn {
    background-color: #000000;
    color: #fbb91d;
  }

  .chatIcon {
    width: 80px;
    height: 40px;
    position: absolute;
    margin-left: -20%;
    margin-top: -27%;
  }

  .listRides {
    // height: auto;
    // width: 100%;
    // background: white;
    // position: absolute;
    // bottom: 0%;

    // border-top-left-radius: 30px;
    // border-top-right-radius: 30px;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 8px;
    background: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 0px;
    padding-top: 20px;
  }

  .driverFound {
    height: 47%;
    width: 90%;
    margin-left: 5%;
    background: white;
    position: absolute;
    bottom: 0%;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .headSection {
    background-color: #fbb91d;
    color: black;
    margin-top: -6%;
    border-top-left-radius: 27px;
    border-top-right-radius: 30px;
    display: inline-block;
    width: 100%;
    height: 45%;
    text-align: center;
  }
  .moveHeader {
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #iconSize {
    font-size: 60px !important;
  }

  #drivericonSize {
    font-size: 70px !important;
  }

  #h44 {
    font-size: 16px;
  }

  #p4 {
    font-size: 12px;
  }
  #locSize {
    font-size: 16px !important;
  }

  .resultContainer {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: #bababa solid 1px;
  }
  .resultContainer2 {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .bookImage,
  .bookTitle,
  .bookPrice {
    margin-left: 20px;
  }

  .content-wrap,
  .img-wrapper {
    display: inline-block;
    margin-left: 20px;
  }

  .content-wrap2 {
    display: inline-block;
  }

  .carbottom-bar2 {
    height: 45%;
    width: 100%;
    // margin-left: 5%;
    background: white;
    position: absolute;

    bottom: 0%;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    //border: 1px solid rgb(216, 216, 216);
    // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
    .butt {
      color: lightgoldenrodyellow;
      font-size: 1.2em;
    }

    .booker {
      border-top: 1px solid rgba(3, 3, 3, 0.253);

      height: auto;
    }
    .tTha {
      color: var(--ion-color-primary) !important;
    }

    .text {
      padding-bottom: 0px;
      font-size: 1.16em;
      color: #fdfdfd;
    }
  }

  .bottom-bar2 {
    height: 47%;
    width: 90%;
    margin-left: 5%;
    background: white;
    position: absolute;

    bottom: 0%;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    //border: 1px solid rgb(216, 216, 216);
    // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
    .butt {
      color: lightgoldenrodyellow;
      font-size: 1.2em;
    }

    .booker {
      border-top: 1px solid rgba(3, 3, 3, 0.253);

      height: auto;
    }
    .tTha {
      color: var(--ion-color-primary) !important;
    }

    .text {
      padding-bottom: 0px;
      font-size: 1.16em;
      color: #fdfdfd;
    }
  }
  .bottom3-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    .bottom-bar3 {
      height: 100px auto;
      width: 100%;
      background: var(--ion-color-primary);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      margin: 0px 0 0 0px;
      margin-left: 0%;
      // border-top: 1.2px solid rgba(3, 3, 3, 0.253);
      // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
      bottom: 15%;
      z-index: 1;
      //border-radius: 30px;
      .myImage {
        z-index: 0;
        position: fixed;
        left: 0%;
        width: 100%;
        height: 100px;
        background-color: rgb(235, 66, 0);
      }
      .profile-pic {
        width: 5em;
        height: 5em;
        border: 1px solid #3e3c3c;
        border-radius: 50px;
      }
      .logos {
        padding: 0px;
        ion-icon {
          font-size: 1.1em;
          color: var(--ion-color-primary);
        }
      }
      .text {
        padding: 0px;
        font-size: 1.4em;
        margin-top: 6%;
        color: #fdfdfd;
      }
      ion-icon {
        font-size: 2.3em;
        color: #3e3c3c;
      }
    }
  }
}

#butt {
  color: var(--ion-color-primary);
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 1.3em;
  padding: 7px;
}

#envelope {
  height: auto;
  width: 5em;
  margin-left: 40%;
  margin-top: 5%;
}

#envelop {
  height: 5em;
  width: 5em;
}

#buttonContainer {
  float: right;
  button {
    //height: 80% !important;
    background: var(--ion-color-primary);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    margin: 6px;
    // border: 6px solid rgb(255, 255, 255);
    padding: 15px;
    // box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.253);
  }
}

#buttonContainer2 {
  float: left;
  button {
    //height: 80% !important;
    background: var(--ion-color-primary);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    margin: auto;
    // border: 6px solid rgb(255, 255, 255);
    padding: 15px;
    // box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.253);
  }
}

#pay {
  //  background: linear-gradient(rgba(1, 17, 41, 0.89), rgba(8, 25, 44, 0.623) rgba(3, 17, 31, 0.438)) , url($myUrl) no-repeat;
  //border-radius: 30px;
  width: 100%;
  height: auto;
  margin: 1%;
  margin-left: 2%;
  font-size: 1.6em;
  //background: rgb(255, 255, 255) !important;
  // border: 1px solid rgb(255, 255, 255);
  // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
  padding: 10px;
  ion-badge {
    height: 70%;
    font-size: 1.6em;
  }
}

#pay2 {
  //  background: linear-gradient(rgba(1, 17, 41, 0.89), rgba(8, 25, 44, 0.623) rgba(3, 17, 31, 0.438)) , url($myUrl) no-repeat;
  //border-radius: 30px;
  width: 100%;
  height: auto;
  margin: 1%;
  margin-left: 2%;
  //background: rgb(255, 255, 255) !important;
  // border: 1px solid rgb(255, 255, 255);
  // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
  padding: 4px;
  ion-badge {
    height: 70%;
    font-size: 1.6em;
  }
}

.myCentre {
  z-index: 3;
  margin-top: 65%;
}

#control-buttons {
  // padding: 35px;
  //@at-root color: white;
  font-size: 1.8em;
  ion-icon {
    padding: 16px;
  }
}

#top-buttons {
  height: auto;
  width: 100%;
  background: var(--ion-color-primary);
  position: absolute;
  // top: 65%;
  margin: -50px 0 0 -50px;
  margin-left: 0%;
  bottom: 0%;
  z-index: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  //border: 1px solid rgb(216, 216, 216);
  // box-shadow: 0px -1px 7px 0px rgba(3, 3, 3, 0.253);
  .lowbutton {
    border-radius: 30px;
    // box-shadow: 0px 1px 2px 0px rgba(3, 3, 3, 0.253);
  }
  ion-icon {
    font-size: 1em;
    color: rgb(3, 3, 3);
  }
}

#map-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

#header {
  font-size: 1.32em;
  font-weight: 200;
  text-align: center;
  background: var(--ion-color-primary);
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  color: #fdfdfd;
}

#location {
  text-align: center;
  padding-left: 17px;
  overflow: hidden;
  //width: 40%;
}

#destination {
  text-align: center;
  padding-left: 17px;
  overflow: hidden;
  // width: 40%;
}

.locate_button {
  z-index: 3;
  float: right;
  margin-top: 6%;
  width: auto;
  height: 40px;
  // padding: 0px;
  margin-right: 4.5%;
  border-radius: 60px;
  background: white;
  // box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.253);
  ion-icon {
    //  margin-left: auto !important;
    margin-top: -2%;
    border-radius: 60px;
    //padding: auto;
  }
}

.request-for-ride {
  margin-top: 0% !important;
}

.request-for-ride2 {
  height: 200px;
}

.lineHeight {
  line-height: 1;
}

.bottum {
  background: #fdfdfd;
  // box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.253);
  border-radius: 60px;
  ion-icon {
    font-size: 1.7em;
  }
}

#rides {
  border-radius: 0px;
  border: 1px solid rgb(216, 216, 216);
  ion-badge {
    font-size: 1em;
  }
}

.button-right {
  position: absolute;
  left: 75%;
  padding: 16px;
  top: 60%;
}

.buttonNew {
  border: 5px solid #ffff00;
  width: 60%;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ion-footer {
  #lower_items {
    height: auto;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 15;
  }
  .buttons {
    margin-top: 10% !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin: auto;
    padding: auto !important;
    background: var(--ion-color-primary);
    z-index: 300 !important;
    border: 0.7px solid var(--ion-color-primary);
    color: white;
    font-size: 17px;
  }
  #rides {
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    ion-badge {
      font-size: 1.6em;
    }
  }
}

#price {
  font-size: 1em;
  font-weight: 500;
  h2 {
    font-size: 0.63em;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
}
