
<ion-content >
  <div class="background">
  <img src="/assets/img/logo.jpg" class="logo_position" />
  <h4 id="textLogin">Complete this registration to ride with Call4Ride</h4>

  <div class="container">
    <ul class="progressbar">
      <li [class.active]="step == 1">Personal Info</li>

      <li [class.active]="step == 2">Other Info</li>
   
    </ul>
  </div>
  <form [formGroup]="updateForm" class="padd">
    <div *ngIf="step == 1">
      <ion-item>
        <ion-label position="floating" style="color: #fbb91d !important">First Name</ion-label>
        <ion-input
          type="text"
          formControlName="first_name"
          name="first_name"
          [class.invalid]="!updateForm.controls.first_name.valid && (updateForm.controls.first_name.dirty )"
        ></ion-input>
      </ion-item>
      <p
        *ngIf="!updateForm.controls.first_name.valid  && (updateForm.controls.first_name.dirty )"
      >
        <b style="color: rgb(255, 0, 0)">Please enter first name.</b>
      </p>
      <br />

      <ion-item>
        <ion-label position="floating" style="color: #fbb91d !important">Last Name</ion-label>
        <ion-input
          type="text"
          formControlName="last_name"
          name="last_name"
          [class.invalid]="!updateForm.controls.last_name.valid && (updateForm.controls.last_name.dirty )"
        ></ion-input>
      </ion-item>
      <p
        *ngIf="!updateForm.controls.last_name.valid  && (updateForm.controls.last_name.dirty )"
      >
        <b style="color: rgb(255, 0, 0)">Please enter Last Name.</b>
      </p>
      <br />

    
  <br />
           <!-- <ion-item>
        <ion-label position="floating" style="color: #fbb91d !important">Email</ion-label>
        <ion-input
          type="text"
          formControlName="email"
          name="email"
          
        ></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating" style="color: #fbb91d !important"
          >Phone Number</ion-label
        >
        <ion-input
          type="number"
            placeholder="Enter phone number eg. 0276XXXXXX"
          [(ngModel)]="phonenumber"
          formControlName="phonenumber"
          [class.invalid]="!updateForm.controls.phonenumber.valid && (updateForm.controls.phonenumber.dirty )"
        ></ion-input>
      </ion-item>
      <p
        *ngIf="!updateForm.controls.phonenumber.valid  && (updateForm.controls.phonenumber.dirty)"
      >
        <b style="color: rgb(255, 0, 0)">Please enter your phone number</b>
      </p>
   
      <br />

  

 
    </div>

    <div *ngIf="step == 2">
       <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    "
  >
    <div (click)="choosePic_1()">
      <ion-avatar
        style="text-align: center; display: inline-flex !important"
        *ngIf="captureDataUrl"
      >
        <img id="my-pic" [src]="captureDataUrl" *ngIf="captureDataUrl" />
      </ion-avatar>
      <ion-avatar
        style="
          text-align: center;
          display: inline-flex;
          width: 100px;
          height: 100px !important;
        "
        *ngIf="!captureDataUrl"
      >
        <img
          id="my-pic"
          *ngIf="!captureDataUrl"
          src="assets/svgs/user-edit-solid.svg"
          class="img_size"
        />
      </ion-avatar>
    </div>

  </div>
         
    

      <br />
    </div>


    <p class="pad">
      <ion-row>
        <ion-col col-6 *ngIf="step != 1">
       

                <ion-button
        size="large"
        color="dark"
        id="mybutton"
        expand="block"
        (click)="prev()"
      >
        PREVIOUS <ion-icon name="arrow-back"></ion-icon></ion-button
      >
        </ion-col>

        <ion-col col-6 *ngIf="step != 2">

           <ion-button
        size="large"
        color="primary"
        id="mybutton"
        expand="block"
        (click)="submit()"
      >
        NEXT <ion-icon name="arrow-forward"></ion-icon></ion-button
      >
        
        </ion-col>

        <ion-col col-6 *ngIf="step == 2">
        

                  <ion-button
                   icon-end
              [disabled]="!this.updateForm.valid"
        size="large"
        color="primary"
        id="mybutton"
        expand="block"
        (click)="updateUser()"
      >
        COMPLETE <ion-icon name="checkmark-circle"></ion-icon></ion-button
      >
        </ion-col>
      </ion-row>

      <br />
      <br />
    </p>

    <p>
      <b style="color: rgb(0, 0, 0)">
        <p style="color: rgb(0, 0, 0)">
          Already have an account ?
          <a tappable (click)="login()" style="color: #fbb91d">Log In</a>
        </p>
      </b>
    </p>

    <p>
      <b style="color: rgb(0, 0, 0)">
        <p style="color: rgb(0, 0, 0)">
          By clicking the button to signup, you're agreeing to our
          <a tappable style="color: #fbb91d">terms of service</a>
        </p>
      </b>
    </p>
  </form>
  </div>
</ion-content>
