<!-- <ion-content class="background_whole2" padding>
  <ion-header no-border>
    <ion-button size="large" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-header>

  <div class="centerDiv" *ngIf="ph.userID.picture" (click)="choosePic()">
    <ion-avatar style="text-align: center; display: inline-flex !important">
      <img class="profile-pic" [src]="ph.userID.picture" />
    </ion-avatar>
  </div>

  <div class="centerDiv" *ngIf="!ph.userID.picture" (click)="choosePic()">
    <ion-avatar style="text-align: center; display: inline-flex !important">
      <img class="profile-pic" src="assets/svgs/user-edit-solid.svg" />
    </ion-avatar>
  </div>
  <div *ngIf="first_name">
    <h1 style="text-align: center">{{first_name}} {{last_name}}</h1>
  </div>
  <div *ngIf="!first_name">
    <h1 style="text-align: center">Call4Ride RIDER</h1>
  </div>

  <ion-item (click)="updateEmail()">
    <ion-icon name="ios-mail" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="!ph.userID.email">test@email.com</h4>
    <h4 style="text-align: center" *ngIf="ph.userID.email">
      {{ph.userID.email}}
    </h4>

    <ion-icon name="arrow-dropright" slot="end"></ion-icon>
  </ion-item>

  <ion-item (click)="updateName()">
    <ion-icon name="ios-contact" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="!ph.userID?.first_name">
      Call4Ride Rider
    </h4>
    <h4 style="text-align: center" *ngIf="ph.userID?.first_name">
      {{ph.userID.first_name}}
    </h4>
    <ion-icon name="arrow-dropright" slot="end"></ion-icon>
  </ion-item>

  <ion-item (click)="updateNumber()">
    <ion-icon name="ios-call" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="phone">{{phone}}</h4>
    <h4 style="text-align: center" *ngIf="!phone">027XXXXXXX</h4>
    <ion-icon name="arrow-dropright" slot="end"></ion-icon>
  </ion-item>

  <ion-item (click)="updateEmergencyNumber()" *ngIf="emergencyNumber">
    <ion-icon name="ios-call" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="emergencyNumber">
      Emergency:: <span style="color: red"> {{emergencyNumber}}</span>
    </h4>

    <ion-icon name="arrow-dropright" slot="end"></ion-icon>
  </ion-item>

  <ion-item *ngIf="!emergencyNumber">
    <h4 style="text-align: center" *ngIf="!emergencyNumber">
      <ion-button (click)="updateEmergencyNumber()">
        Add Emergency Number<ion-icon name="add" slot="end"></ion-icon
      ></ion-button>
    </h4>
  </ion-item>

  <div class="centerDiv2">
    <ion-button (click)="logOut()">
      Sign Out <ion-icon name="power" slot="end"></ion-icon
    ></ion-button>
  </div>
</ion-content> -->

<ion-content class="background_whole" padding>
  <ion-header no-border>
    <ion-toolbar>
      <ion-button size="large" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-title>PROFILE</ion-title>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-grid
    style="background-color: beige; border-radius: 12px; margin-top: 10%"
  >
    <ion-row>
      <ion-col size="8">
        <div class="content-wrap" *ngIf="first_name">
          <span class="bookPrice">{{first_name}} {{last_name}}</span>
          <br />
          <span class="bookTitle" style="color: red">{{unique}}</span>
        </div>
        <div class="content-wrap" *ngIf="!first_name">
          <span class="bookPrice">Call4Ride RIDER</span>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="content-wrap2" *ngIf="picture">
          <ion-avatar class="avtr">
            <img class="profile-pic" [src]="picture" />
          </ion-avatar>
        </div>

        <div class="content-wrap2" *ngIf="!picture">
          <ion-avatar class="avtr">
            <img class="profile-pic" src="assets/svgs/user-edit-solid.svg" />
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item (click)="updateEmail()">
    <ion-icon name="ios-mail" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="!email">Update Your Email</h4>
    <h4 style="text-align: center" *ngIf="email">{{email}}</h4>
  </ion-item>

  <ion-item>
    <ion-icon name="ios-call" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="phoneNumber">{{phoneNumber}}</h4>
    <h4 style="text-align: center" *ngIf="!phoneNumber">
      Update Your Phone number
    </h4>
  </ion-item>

  <ion-item (click)="updateEmergencyNumber()" *ngIf="emergencyNumber">
    <ion-icon name="ios-call" style="padding-right: 20px"></ion-icon>
    <h4 style="text-align: center" *ngIf="emergencyNumber">
      Emergency:: <span style="color: red"> {{emergencyNumber}}</span>
    </h4>
  </ion-item>

  <div *ngIf="!emergencyNumber" class="centerDiv">
    <h4 style="text-align: center" *ngIf="!emergencyNumber">
      <ion-button (click)="updateEmergencyNumber()" color="danger">
        Add Emergency Number<ion-icon name="add" slot="end"></ion-icon
      ></ion-button>
    </h4>
  </div>

  <div class="centerDiv2">
    <ion-button (click)="logOut()">
      Sign Out <ion-icon name="power" slot="end"></ion-icon
    ></ion-button>
  </div>
</ion-content>

<ion-footer>
  <div class="centerDiv2">
    <ion-button (click)="deleteAccount()" color="dark">
      Delete Account <ion-icon name="trash" slot="end"></ion-icon></ion-button>
  </div>

  <div class="centerDiv2">
    <ion-button (click)="clearCache()" color="danger">
      Clear Cache <ion-icon name="trash" slot="end"></ion-icon></ion-button>
  </div>
</ion-footer>
