<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <!-- <ion-button size="large" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <span style="padding-left: 30px; font-size: 1.1em">Choose Destination</span>
    </ion-button> -->

    <ion-button
      color="dark"
      (click)="goBack()"
      style="
        --border-radius: 100%;
        width: 50px;
        height: 50px;
        --vertical-align: middle;
        --padding-start: -5px;
        --padding-end: -5px;
      "
    >
      <ion-icon color="light" name="arrow-back" slot="icon-only"></ion-icon>
      <!-- <span style="padding-left: 30px; font-size: 1.1em; color: black"
        >Choose Destination</span
      > -->
    </ion-button>
    <span style="padding-left: 30px; font-size: 1.1em; color: black"
      >Enter Address</span
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar>
    <!-- <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="focus" (ionInput)="updateSearch()"
      (ionCancel)="dismiss()"></ion-searchbar> -->
    <ion-searchbar
      [(ngModel)]="autocomplete.query"
      (ionInput)="updateSearch()"
      (ionCancel)="dismiss()"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-list class="ion-padding">
    <ion-item
      *ngFor="let item of autocompleteItems"
      tappable
      (click)="chooseItem(item)"
    >
      {{ item }}
    </ion-item>
  </ion-list>

  <!-- <ion-footer>
    <img src="/assets/icon/woman.svg" />
  </ion-footer> -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item
          [ngStyle]="{'bottom': 0 + 'px'}"
          color="nav-color"
          (click)="chooseHome()"
        >
          <ion-label>
            <ion-icon color="primary" name="ios-home" slot="start"></ion-icon>
            <span *ngIf="home" style="padding-left: 10px"
              >{{Lang[0].homesearch}}</span
            >
            <span
              *ngIf="!home"
              (click)="gotoSetting()"
              style="padding-left: 10px"
              >{{Lang[0].add}} {{Lang[0].homesearch}}</span
            >
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item
          [ngStyle]="{'bottom': 0 + 'px'}"
          color="nav-color"
          (click)="chooseWork()"
        >
          <ion-label>
            <ion-icon
              color="primary"
              name="ios-briefcase"
              slot="start"
            ></ion-icon>
            <span *ngIf="work" style="padding-left: 10px"
              >{{Lang[0].worksearch}}</span
            >
            <span
              *ngIf="!work"
              (click)="gotoSetting()"
              style="padding-left: 10px"
              >{{Lang[0].add}} {{Lang[0].worksearch}}</span
            >
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
