ion-button {
  border-radius: 12px;
}

ion-item {
  --inner-padding-start: 0px;
  --padding-start: 0px;
  border-bottom: rgb(10, 100, 235);
}

.footer-md:before {
  left: 0;
  top: -2px;
  bottom: auto;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: url();
  background-repeat: repeat-x;
  content: "" !important;
}

.footer-ios:before {
  left: 0;
  top: -2px;
  bottom: auto;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: url();
  background-repeat: repeat-x;
  content: "" !important;
}
