// ion-content {
//   --background: #fbb91d;
// }
// .container {
//   -webkit-animation: rotate-center 1s ease-in-out both;
//   animation: rotate-center 1s ease-in-out both;
//   // position: relative;
//   img {
//     height: 100px;
//     margin-top: 60%;
//   }
// }

// @-webkit-keyframes rotate-center {
//   0% {
//     -webkit-transform: rotate(0);
//     transform: rotate(0);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// @keyframes rotate-center {
//   0% {
//     -webkit-transform: rotate(0);
//     transform: rotate(0);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// .vertical-center {
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

.back {
  background-image: url(/assets/img/circle.png);
    background-color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
}

.pad {
  text-align: center;
}

.font-style {
  color: rgb(0, 0, 0);
  font-size: 19px;
  text-align: center;
  font-weight: 100;
  // margin-left: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.font-style2 {
  color: rgb(1, 0, 0);
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
}

.move-down {
  padding-top: 15%;
}

#move-down2 {
  padding-top: 30%;
}
.button_style {
  text-align: center;
  border-radius: 60px;
  height: 40px;
  width: 90%;
}

.logoSize {
  text-align: center;
    width: 70%;
    align-content: center;
     margin-left: 20%;
    padding-top: 5%;
    margin-bottom: -20%;
    position: relative;
      // animation: spin infinite linear both;
       -webkit-animation:spin 2s ease-in-out alternate infinite;
     animation-duration: 2.0s; 
}

#overlay {
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000036;
  z-index: 10;
  cursor: pointer;
}



@-webkit-keyframes spin  {
   from {
      left:0px;
      top:0px;
   }
   
   to {
      left:0px;
      top:20px;
   }

}
