<ion-content>


   <div class="back">
   
     <div class="logoSize">
          <img src="/assets/img/w.png"  />
      </div>
     


      <div class="pad" id="move-down2">
        <h1 class="font-style2">Quality Rides with Us</h1> 
        <h4 class="font-style"> A better ride
          experience for you.</h4>
      </div>
        <div class="move-down">
        <p class="pad" style="text-align: center">
          <ion-button color="primary" class="button_style" (click)="login()">
            Get Started
            <ion-icon color="light" name="arrow-forward" slot="end"></ion-icon>
          </ion-button>
        </p>
      </div>
  
     
     
  </div> 
</ion-content>
