ion-content {
  // --background: url("src/assets/img/menu.png") no-repeat center / cover;
  background-size: cover;
  background-position: center;
  // @keyframes bump {
  //   0% {
  //     top: 100%;
  //   }
  //   // 50% {top: 90%;}
  //   100% {
  //     top: 80%;
  //   }
  // }
  .o_section {
    position: fixed;
    //  background: color($colors, primary, base);
    top: 80%;
    width: 100%;
    //   border-radius: $buttonRadius;
    left: 0%;
  }
  ion-button {
    background: #181817;
    height: 50px;
    color: #0c0c0c;
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    border-radius: 12px;
  }
}
