<ion-content class='ion-padding'>
    <div class='o_section'>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color='primary' color='light' fill="clear" expand="block" routerLink="/login">
                        LOGIN
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color='primary' color='light' fill="clear" expand="block" routerLink="/signup">
                        REGISTER
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>