<div *ngIf="!isNotCordova">
  <div class="wrapper">
    <div class="candles">
      <div class="light__wave"></div>
      <div class="candle1">
        <div class="candle1__body">
          <div class="candle1__eyes">
            <span class="candle1__eyes-one"></span>
            <span class="candle1__eyes-two"></span>
          </div>
          <div class="candle1__mouth"></div>
        </div>
        <div class="candle1__stick"></div>
      </div>

      <div class="candle2">
        <div class="candle2__body">
          <div class="candle2__eyes">
            <div class="candle2__eyes-one"></div>
            <div class="candle2__eyes-two"></div>
          </div>
        </div>
        <div class="candle2__stick"></div>
      </div>
      <div class="candle2__fire"></div>
      <div class="sparkles-one"></div>
      <div class="sparkles-two"></div>
      <div class="candle__smoke-one"></div>
      <div class="candle__smoke-two"></div>
    </div>
    <div class="floor"></div>
  </div>
</div>

<ion-content *ngIf="isNotCordova" class="o-scroll" class="ion-padding">
  <div id="recaptcha-container"></div>

  <div class="form" style="padding-top: 30px">
    <!-- <p padding >Add a Phone Number to continue. </p> -->

    <ion-label class="stack" padding color="primary" position="stacked"
      >Phone Number</ion-label
    >
    <ion-input
      class="input"
      lines="none"
      type="text"
      placeholder="080xxxxxxx"
      [(ngModel)]="userName"
    ></ion-input>

    <ion-button
      class="ion-padding"
      color="primary"
      id="mybutton"
      expand="block"
      (click)=" login(userName)"
      >Submit</ion-button
    >
  </div>
</ion-content>
