<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button color="dark" (click)="goBack()" style="
        --border-radius: 100%;
        width: 50px;
        height: 50px;
        --vertical-align: middle;
        --padding-start: -5px;
        --padding-end: -5px;
      ">
      <ion-icon color="light" name="arrow-back" slot="icon-only"></ion-icon>
   
    </ion-button>
    <!-- <span style="padding-left: 30px; font-size: 1.1em; color: black">Enter Address</span> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <!-- <img src="/assets/img/logo.jpg" class="logo_position" /> -->
    <h4 id="textLogin">Who is Riding?

    </h4>
    <p style="text-align: center;">If you request a ride for someone else, enter their phone number. We will text them the car license and driver phone number.</p>

  
    <form [formGroup]="updateForm" class="padd">
     
        <ion-item>
          <ion-label position="floating" style="color: #fbb91d !important">Name</ion-label>
          <ion-input type="text" formControlName="first_name" name="first_name"
            [class.invalid]="!updateForm.controls.first_name.valid && (updateForm.controls.first_name.dirty )"></ion-input>
        </ion-item>
        <p *ngIf="!updateForm.controls.first_name.valid  && (updateForm.controls.first_name.dirty )">
          <b style="color: rgb(255, 0, 0)">Please enter first name.</b>
        </p>
  
        <br />
      

        <br />
        <ion-item>
          <ion-label position="floating" style="color: #fbb91d !important">Phone Number</ion-label>
          <ion-input type="text" formControlName="number" name="number"></ion-input>
        </ion-item>

        <br />



   


      <p class="pad">
        <ion-row>
   

          <ion-col col-12>


            <ion-button icon-end [disabled]="!this.updateForm.valid" size="large" color="primary" id="mybutton"
              expand="block" (click)="updateUser()">
              NEXT <ion-icon name="checkmark-circle"></ion-icon></ion-button>
          </ion-col>
        </ion-row>

        <br />
        <br />
      </p>

    
    </form>
  </div>
</ion-content>