ion-content {
  ion-button {
    border-radius: 12px;
    height: 70px;
  }
  ion-button {
    margin-top: 60%;
    height: 50px;
    border-radius: 12px;
  }
}

ion-button {
  box-shadow: none;
  border-radius: 0px;
  height: 54px;
  font-size: 1.2em;
}
ion-button {
  box-shadow: none;
  border-radius: 0px;
  height: 54px;
  font-size: 1.2em;
}

.cont {
  ion-button {
    border-radius: 12px;

    height: 50px;
    margin: 0.8%;
    --ion-color-light: #eeeeee;
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
  }
}
