<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button size="large" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <span style="padding-left: 30px; font-size: 1em">
        {{this.Lang[0].about}}</span
      >
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll" class="ion-padding">
  <div class="cont">
    <ion-button
      style="color: rgb(10, 100, 235)"
      expand="block"
      (click)="gotoSite()"
    >
      <span style="color: white">
        {{settings.appName}} {{Lang[0].website}}
      </span>
    </ion-button>

    <br />
    <ion-button style="color: #1d93ca" expand="block" (click)="gotoSite9()">
      <span style="color: white"> Facebook </span>
    </ion-button>

    <ion-button color="danger" expand="block" (click)="gotoSite10()">
      Instagram <strong>@{{settings.appName}}</strong>
    </ion-button>
     <ion-button color="danger" expand="block" (click)="twitter()">
      Twitter <strong>@{{settings.appName}}</strong>
    </ion-button>


   <ion-button size="large" color="danger" expand="block" (click)="appTikTok()">
    Tiktok 
  </ion-button>
   <ion-button size="large" color="danger" expand="block" (click)="appTube()">
    Youtube 
  </ion-button>
  </div>

  
</ion-content>
