// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
 @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/Montserrat-Bold.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat-Italic.ttf");
  }

  @font-face {
    font-family: "Montserratt";
    font-style: italic;
    font-weight: bold;
    src: url("../assets/fonts/Montserrat-Light.ttf");
  }
:root {
  ion-item {
    font-size: 20px;
  }
  ion-tab-button {
    font-size: 16px;
  }
  ion-button {
    font-size: 16px;
  }

  /** custom transparent **/
  --ion-color-trans: #fbb81d0a;
  --ion-color-trans-rgb: 56, 128, 255;
  --ion-color-trans-contrast: #ffffff;
  --ion-color-trans-contrast-rgb: 255, 255, 255;
  --ion-color-trans-shade: #fbb81d0e;
  --ion-color-trans-tint: #fbb81d1a;
  /** primary **/
  --ion-color-primary: #fbb91d;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #fbb91d;
  --ion-color-primary-tint: #fbb91d;
  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;
  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  /** success **/
  --ion-color-success: #08612c;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #fbb91d;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #fbb91d;
  --ion-color-warning-tint: #fbb91d;
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

 
  // @import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");

  --ion-font-family: "Montserrat";
  font-family: var(--ionn-font-family) !important;
  font-size: 0.9em !important;
}
