<ion-content class="background_whole">
  <div class="bk-color">
    <img src="/assets/img/eklogo.png" class="logoSize" />
  </div>

  <div overflow-scroll="true" class="centerLogin">
    <br />
    <h2 class="headerText">Welcome To Eko!</h2>
    <div id="sign-in-button"></div>

    <ion-grid class="phoneAuthGrid" *ngIf="showPhone">
      <ion-row>
        <ion-col size="4">
          <!-- <ion-select
            class="phoneCountry"
            value="brown"
            okText="Okay"
            cancelText="Dismiss"
            (ionChange)="countryCodeChange($event)"
            [value]="CountryCode"
            canSearch="true"
          >
            <ion-select-option
              *ngFor="let country of CountryJson"
              value="{{country.dial_code}}"
            >
              {{country.dial_code + ' ' + country.name}}</ion-select-option
            >
          </ion-select> -->

          <!-- <ionic-selectable
            [(ngModel)]="port"
            itemValueField="dial_code"
            itemTextField="name"
            [items]="CountryJson"
            [canClear]="true"
            (onChange)="countryCodeChange($event)"
            [canSearch]="true"
          >
            <ng-template ionicSelectableValueTemplate let-port="value">
              <div
                class="ionic-selectable-value-item"
                *ngFor="let port of CountryJson"
                text-wrap
              >
                {{port.dial_code}}
              </div>
            </ng-template>
          </ionic-selectable> -->

          <ion-item>
            <ionic-selectable
              item-content
              [(ngModel)]="port2"
              itemValueField="dial_code"
              itemTextField="name"
              [items]="CountryJson"
              [canSearch]="true"
              [canClear]="true"
              (onChange)="countryCodeChange($event)"
              searchFailText="No country found with that name"
            >
              >
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{port.dial_code}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-input
            clearInput
            type="test"
            placeholder="Your Phone Number"
            [(ngModel)]="PhoneNo"
            class="input ion-padding-horizontal"
            clear-input="true"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            (click)="signinWithPhoneNumber($event)"
            class="btn-transition"
          >
            Sign In With Phone Number</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="showOtpComponent" class="alignCen">
      <h2 style="text-align: center">Enter Your OTP Code Here To Login</h2>
      <ng-otp-input
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        [config]="config"
        style="text-align: center"
      ></ng-otp-input>
      <br />
      <ion-button class="btn-transition" style="text-align: center">
        Resend Code
      </ion-button>
    </div>
    <!-- <form
      [formGroup]="loginForm"
      (submit)="loginUser()"
      novalidate
      *ngIf="showEmail"
    >
      <ion-item>
        <ion-label color="primary" position="stacked"
          >{{lp.translate()[0].f10}}</ion-label
        >
        <ion-input
          formControlName="email"
          type="email"
          placeholder="user@eko.com"
          [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked"
          >{{lp.translate()[0].g1}}</ion-label
        >
        <ion-input
          formControlName="password"
          type="password"
          placeholder="password"
          [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="btn-transition">
        Login
      </ion-button>
    </form> -->

    <!-- <div *ngIf="!showButton">
      <ion-button
        color="dark"
        expand="block"
        (click)="showPhoneLogin()"
        *ngIf="!showPhone"
      >
        LOGIN WITH PHONE
      </ion-button> -->
    <!-- <p class="centerText">OR</p> -->
    <!-- <ion-button
        color="dark"
        expand="block"
        (click)="showEmailLogin()"
        *ngIf="!showEmail"
        class="emailbtn"
      >
        LOGIN WITH EMAIL
      </ion-button> -->
    <!-- </div> -->
  </div>

  <!-- <ion-segment
    [(ngModel)]="overall_list"
    overflow-scroll="true"
    class="move_segment"
  >
    <ion-segment-button value="signin">
      <ion-label>SIGN IN</ion-label>
    </ion-segment-button>
    <ion-segment-button value="signup">
      <ion-label>SIGN UP</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <!-- <div [ngSwitch]="overall_list">
    <div *ngSwitchCase="'signin'" overflow-scroll="true">
      <br />
      <p class="centerText">Sign in and start earning</p>
      <div id="sign-in-button"></div>

      <ion-grid class="phoneAuthGrid" *ngIf="showPhone">
        <ion-row>
          <ion-col size="4">
            <ion-select
              class="phoneCountry"
              value="brown"
              okText="Okay"
              cancelText="Dismiss"
              (ionChange)="countryCodeChange($event)"
              [value]="CountryCode"
            >
              <ion-select-option
                *ngFor="let country of CountryJson"
                value="{{country.dial_code}}"
              >
                {{country.dial_code + ' ' + country.name}}</ion-select-option
              >
            </ion-select>
          </ion-col>
          <ion-col size="8">
            <ion-input
              clearInput
              type="test"
              placeholder="Your Contact Number"
              [(ngModel)]="PhoneNo"
              class="input ion-padding-horizontal"
              clear-input="true"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              (click)="signinWithPhoneNumber($event)"
              class="btn-transition"
            >
              Sign in with Phone number</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="showOtpComponent">
        <h2>Enter Your OTP Code here to login</h2>
        <ng-otp-input
          #ngOtpInput
          (onInputChange)="onOtpChange($event)"
          [config]="config"
        ></ng-otp-input>
        <br />
        <ion-button class="btn-transition"> Resend Code </ion-button>
      </div>
      <form
        [formGroup]="loginForm"
        (submit)="loginUser()"
        novalidate
        *ngIf="showEmail"
      >
        <ion-item>
          <ion-label color="primary" position="stacked"
            >{{lp.translate()[0].f10}}</ion-label
          >
          <ion-input
            formControlName="email"
            type="email"
            placeholder="user@eko.com"
            [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="stacked"
            >{{lp.translate()[0].g1}}</ion-label
          >
          <ion-input
            formControlName="password"
            type="password"
            placeholder="password"
            [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="btn-transition">
          Login
        </ion-button>
      </form>

      <div *ngIf="!showButton">
        <ion-button
          color="dark"
          expand="block"
          (click)="showPhoneLogin()"
          *ngIf="!showPhone"
        >
          LOGIN WITH PHONE
        </ion-button>
        <p class="centerText">OR</p>
        <ion-button
          color="dark"
          expand="block"
          (click)="showEmailLogin()"
          *ngIf="!showEmail"
          class="emailbtn"
        >
          LOGIN WITH EMAIL
        </ion-button>
      </div>
    </div>
    <div *ngSwitchCase="'signup'" overflow-scroll="true">
      <p class="centerText">Sign up and start earning</p>
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <ion-item>
          <ion-label color="primary" position="stacked">Email</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="username@domain.com"
            [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="stacked">Password</ion-label>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="password"
            [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="btn-transition">
          Create New Account
        </ion-button>
      </form>
    </div>
  </div> -->
  <p class="centerText">
    If you are creating a new account,
    <span style="color: red">Terms & Conditions</span> and
    <span style="color: red">Privacy Policy</span>
    will apply.
  </p>
</ion-content>

<!-- <ion-footer> -->
<!-- <div class="car">
    <div class="weel weel1"></div>
    <div class="weel weel2"></div>
  </div> -->
<!-- <p class="centerText">
    If you are creating a new account, Terms & Conditions and Privacy Policy
    will apply.
  </p> -->
<!-- </ion-footer> -->
