ion-label {
  font-size: 40px;
}

h4,
h1,
ion-icon {
  color: rgb(0, 0, 0);
}

ion-item {
  // padding-top: 15px;
  padding-top: 0 px;
}

#iconSize {
  font-size: 60px !important;
}

.resultContainer {
  width: 100%;
  position: relative;
  left: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

.bookImage,
.bookTitle,
.bookPrice {
  margin-left: 20px;
}

#editPro {
  color: rgba(251, 185, 29, 1);
  font-size: 13px
}

.content-wrap,
.img-wrapper {
  display: inline-block;
}

.sc-ion-label-md-s h1 {
  font-size: 16px !important;
}

#drivericonSize {
  // font-size: 70px !important;
  // width: 100px !important;
  font-size: 70px !important;
}




  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/Montserrat-Bold.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat-Italic.ttf");
  }

  @font-face {
    font-family: "Montserratt";
    font-style: italic;
    font-weight: bold;
    src: url("../assets/fonts/Montserrat-Light.ttf");
  }

