<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button (click)="goBack()" ion-button color="primary" fill="clear">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
      <span style="margin-left: 30px; font-size: 1.4em">Trips</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="yes-scroll">
  <div class="followed-items">
    <ion-list>
      <div class="test" *ngIf="eventList == undefined || eventList.length < 1 ">
        <ion-item style="text-align: center;">
          <h4 style="text-align: center;">
            *No trip history here<span style='font-size:10px;'></span>
          </h4>
        </ion-item>
      </div>

      <div>
        <ion-item class="ion-item" lines="none" *ngFor="let event of eventList">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label class="drive"
                  ><strong>{{event?.name}}</strong></ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label class="price"
                  ><strong
                    >{{settings.appcurrency}}{{(float(event?.price) +
                    float(event?.tip || 0)).toFixed(2)}}</strong
                  ></ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label class="date"
                  ><strong>{{event?.date}}</strong></ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label class="location"
                  ><strong>{{event?.location}}</strong></ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label class="destination"
                  ><strong>{{event?.destination}}</strong></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-button
              class="ion-button"
              size="large"
              color="primary"
              shape="round"
              expand="block"
              (click)="goToEventDetail(event.id)"
            >
              <ion-icon
                color="light"
                name="arrow-round-forward"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-grid>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<!-- <ion-footer padding>
    <ion-button color="primary" size='large' shape='round' expand='block' (click)="OpenCancelled()">
        View Cancelled Trips
    </ion-button>
</ion-footer> -->
