
    ion-content{
  
      .drive{
          color: red;
      }
  
      .price{
        color: rgb(143, 255, 143);
      }
  
      .date{
        color: rgb(255, 200, 180);
      }
  
      .destination{
        color: rgb(117, 250, 255);
      }
  
      .location{
        color: whitesmoke;
      }
  
      
        ion-item{
          margin-top: 24px;
         // margin-bottom: 15px;
          border-bottom: 1px solid rgb(216, 216, 216) !important;
      }
  
  
      .hists{
        border: 1px solid ;
        
        margin-top: 8px;
        border-radius: 12px;
        --background: blue;
        color: light;
      }
  
      .button{
        color: blue;
        .icon{
          color: blue;
        }
        .icons{
          color: #fdfdfd;
        }
      }
       
     
  }
  
  