<ion-header no-border>

  <ion-title>Book a Car in London</ion-title>

</ion-header>


<ion-content padding class="no-scroll">
  <!-- These are the location bar and destination bar -->

  <div *ngIf='scheduleInfo == null'>
    <div text-center class="whiteFlap">
      <div class="bars">
        <p>{{Lang[0].from}}</p>


        <!-- location bar -->
        <!-- <p padding >Add a Phone Number to continue. </p> -->

        <div class='form'>
          <ion-item>
            <ion-label class='stack' padding color='primary' stacked>Choose Your Airport</ion-label>
            <ion-select [(ngModel)]="toppings" multiple="false">
              <ion-select-option data-countryCode="AR" value="London City Airport">London City Airport
              </ion-select-option>
              <ion-select-option data-countryCode="AU" value="London Gatwick Airport">London Gatwick Airport
              </ion-select-option>
              <ion-select-option data-countryCode="AT" value="London Heathrow Airport">London Heathrow Airport
              </ion-select-option>
              <ion-select-option data-countryCode="AZ" value="London Luton Airport">London Luton Airport
              </ion-select-option>
              <ion-select-option data-countryCode="BS" value="London Stansted Airport">London Stansted Airport
              </ion-select-option>
            </ion-select>
          </ion-item>

        </div>

        <p>{{Lang[0].to}}</p>
        <!-- desination bar -->
        <ion-button lines="none" detail="false" class="bars-destinate" (click)="showAddressModal(2)">
          <ion-icon color='deep' name="flag" slot="start"></ion-icon>
          <div id="whereto">{{Lang[0].dest}}</div>
        </ion-button>
      </div>





      <div class='top-items'>
        <ion-item lines="none">
          <ion-label text-center>{{Lang[0].date}}</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="myDate" (ionChange)='Chosen($event)' min='2018'
            max="2020-10-31"></ion-datetime>
        </ion-item>
      </div>
    </div>
  </div>




  <div *ngIf='scheduleInfo != null' class='followed-items'>
    <ion-list text-center>
      <ion-item>
        <h2 class='ride'><strong>
            <ion-icon color='deep' name="timer"></ion-icon>A London Ride Booked
          </strong></h2>
        <h2 class='date'><strong>
            <ion-icon color='deep' name="calendar"></ion-icon>{{dataTime}}
          </strong></h2>
        <h2 class='date'><strong>
            <ion-icon color='primary' name="clock"></ion-icon>@{{scheduleInfo.Client_Time}}
          </strong></h2>
        <h2 class='location'><strong>
            <ion-icon color='deep' name="locate"></ion-icon>{{scheduleInfo.Client_locationName}}
          </strong></h2>
        <h2 class='destination'><strong>
            <ion-icon color='deep' name="navigate"></ion-icon>{{scheduleInfo.Client_destinationName}}
          </strong></h2>

        <button detail="false" id='button' color="danger" lines="none" text-center (click)="CancelRide()">
          {{Lang[0].clear}}
        </button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>