<ion-header no-border>


  <ion-title>Your Ride Referal Code</ion-title>


</ion-header>

<ion-content class="no-scroll" padding>

  <div text-center class="whiteFlap">

    <div class='bars'>

      <ion-button no-lines detail-none ion-item icon-start class="bars-price">
        <ion-icon color='primary' name="key"></ion-icon>
        <div id="cash">{{randomCode}}</div>
      </ion-button>
    </div>

    <p>Share app with others. using this referal code. To get a free ride.</p>
    <!-- <ion-grid>
          <ion-row>
            <ion-col> -->
    <ion-button [ngStyle]="{'margin-top': 20 + 'px'}" color="primary" expand="block" (click)="FaceShare()">
      <ion-icon color='nav-color' name="share" slot=" icon-only "> Share </ion-icon>
    </ion-button>
    <!-- </ion-col>
            <ion-col>
                <button icon-only [ngStyle]="{'margin-top': 20 + 'px'}" color="gery" block (click)="WhatsappShare()">
                    <ion-icon color='nav-color' name="logo-whatsapp"></ion-icon>
               </button>         
            </ion-col>
            <ion-col>
                <button icon-only [ngStyle]="{'margin-top': 20 + 'px'}" color="newColor" block (click)="InstaShare()">
                    <ion-icon color='nav-color' name="logo-instagram"></ion-icon>
               </button>         
            </ion-col>
          </ion-row>
        </ion-grid> -->

  </div>

</ion-content>