form {
  margin-bottom: 26px;
  height: 200px auto;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
  animation-direction: alternate;
  animation-name: wiki;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  border: 1px solid rgb(216, 216, 216);
  button {
    margin-top: 20px !important;
  }
  .button {
    border: 1px solid rgb(10, 100, 235);
    padding: 10px;
    background: rgb(10, 100, 235);
    color: #eeeeee;
  }
}

ion-label {
  text-align: center;
}

ion-input {
  padding: 6px;
  font-size: 1.3em;
}

.invalid {
  border: 1px solid #ff6153;
}

.error-message .item-inner {
  border-bottom: 0 !important;
}

.button {
  border-radius: 12px;
  height: 50px;
}
.butt {
  display: inline-table;
  height: 50px;
  width: 90%;
}

#envelope {
  height: auto;
  width: 6em;
}

.bars {
  margin-top: 0%;
  padding: 12px;

  .bars-price {
    height: 50px;
    width: 100%;
    background: #ffffff;
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
   

    z-index: 3;
    border-radius: 12px;
    overflow: hidden;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      color: rgb(10, 100, 235);
      padding: 5px;
    }
  }
}
