<ion-content class="no-scroll">
  <!-- This is the cordova google map -->
  <div id="map" [ngClass]="{'mess2_short': shortMap == true, 'mess_defualt': defaultMap == true}">
    <div class="topBar">
      <ion-button (click)="toggle()" color="primary" style="
          --border-radius: 100%;
          width: 60px;
          height: 60px;
          --vertical-align: middle;
          --padding-start: -5px;
          --padding-end: -5px;
        ">
        <ion-icon name="ios-menu" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button color="dark" *ngIf="" (click)="ReturnHome()" class="Menubutton" style="
          --border-radius: 100%;
          width: 50px;
          height: 50px;
          --vertical-align: middle;
          --padding-start: -5px;
          --padding-end: -5px;
        ">
        <ion-icon color="light" name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <div class="mid-right">
      <ion-fab slot="fixed">
        <ion-fab-button color="primary"> SOS </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="call_phone()"><ion-icon name="call"> </ion-icon></ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="start">
          <ion-fab-button (click)="call_phone_other()">
            <ion-icon name="body"> </ion-icon>
          </ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="bottom">
          <ion-fab-button (click)="call_phone_other()">
            <ion-icon name="bonfire"> </ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

    </div>
    <div *ngIf="dProvider.destination_time || dProvider.destination_time != null">
      <div class="mid-right2">
        <ion-fab slot="fixed">
          <ion-button (click)="presentActionSheet()" color="dark">
            <ion-icon name="share"></ion-icon>
            Share Trip
          </ion-button>

        </ion-fab>
      </div>
    </div>


    <div *ngIf="driver_arrived == true && !dProvider.destination_time">
      <div class="mid-right3 ">
       
        <ion-fab slot="fixed">
        
          <ion-button color="primary" >
            <ion-icon name="alarm" > </ion-icon> 
          <span style="text-transform: none">Driver Waiting for:: </span> <br>
          <span id="demo"> </span>
          </ion-button>
      
        </ion-fab>
      </div>
    </div>

      <div *ngIf="hasPaused == true">
        <div class="mid-right3 ">
      
          <ion-fab slot="fixed">
      
            <ion-button color="primary">
              <ion-icon name="alarm"> </ion-icon>
              <span style="text-transform: none">Trip On Hold for:: </span> <br>
              <span id="pause_time"> </span>
            </ion-button>
      
          </ion-fab>
        </div>
      </div>
   
    <br>

  </div>





  <div *ngIf="!pop.onRequest" class="bars">

    <div *ngIf="cMap.hasShown">
      <div class="bookingSect2" *ngIf="cMap.selected_destination_bar == false">
        <h3 color="light" style="font-size: 1.3em" class="ion-padding" class="ion-text-center"
          *ngIf="ph.name != undefined">
          Hi, {{ph.name}}
        </h3>
        <h3 color="light" style="font-size: 1.3em" class="ion-padding" class="ion-text-center"
          *ngIf="ph.name == undefined">
          Welcome!
        </h3>

        <ion-grid>
          <ion-row>
            <ion-col id="iCol" (click)="toggleMoreSection()">
              <ion-button class="bars-locate" color="dark">
                <ion-icon slot="start" name="search"></ion-icon>
                Where are you going ?
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="bookingSect" *ngIf="cMap.selected_destination_bar == true">

      <ion-grid>
        <ion-row>
          <ion-col id="iCol" (click)="showAddressModal(1)" size="10">
            <ion-button [hidden]="!cMap.onLocationbarHide" class="bars-locate" color="dark">
              <!-- <div id="location"  *ngIf="!pickUpLocation || pickUpLocation == undefined">{{myGcode.locationName}}</div>

              <div id="location" *ngIf="pickUpLocation">{{pickUpLocation}}</div>
             -->

              <div id="location" *ngIf="!pickUpLocation || pickUpLocation == undefined || pickUpLocation == ''">{{myGcode.locationName}}</div>
              
              <div  *ngIf="pickUpLocation">{{pickUpLocation}}</div>
            </ion-button>
          </ion-col>

          <ion-col size="2">
            <ion-button color="dark" [hidden]="!cMap.onLocationbarHide" [disabled]="cMap.showDone" class="Menubutton"
              (click)="ToggleChange_1()" style="
                  --border-radius: 100%;
                  width: 50px;
                  height: 50px;
                  --vertical-align: middle;
                  --padding-start: -5px;
                  --padding-end: -5px;
                ">
              <ion-icon color="primary" name="pin" slot="icon-only"></ion-icon>
            </ion-button>
            <div class="verticalLine"></div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid>
        <ion-row>
          <ion-col id="iCol" (click)="showAddressModal(2)" size="10">
            <ion-button [hidden]="!cMap.onDestinatiobarHide" class="bars-destinate" color="dark">
              <div id="destination">Your Destination</div>
            </ion-button>
          </ion-col>

          <ion-col size="2">
            <ion-button color="dark" [hidden]="!cMap.onDestinatiobarHide" [disabled]="cMap.showDone" class="Menubutton"
              (click)="ToggleChange_2()" style="
                  --border-radius: 100%;
                  width: 50px;
                  height: 50px;
                  --vertical-align: middle;
                  --padding-start: -5px;
                  --padding-end: -5px;
                ">
              <ion-icon color="danger" name="pin" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- marker/pin situated in the center -->
  <div [hidden]="!cMap.showDone">
    <div class="centerMarker">
      <span class="middy" [hidden]="cMap.onPointerHide">
        <div id="nugget" [hidden]="cMap.onPointerHide"></div>
      </span>
    </div>
  </div>

  <div class="listRides"
    *ngIf="cMap.canShowchoiceTab == true && cMap.car_notificationIds != [] && rideSelected == false">


    <ion-button (click)="dismiss_noride()" color="primary" style="
          --border-radius: 100%;
          width: 40px;
          height: 40px;
          --vertical-align: middle;
          --padding-start: -5px;
          --padding-end: -5px;
        " class="widIcon">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
 


    <div *ngIf="dProvider.timeToReach == 'calculating...' && dProvider.price == null || dProvider.price == null ">
      <ion-list class="fakeItem">
        <ion-row tappable>
          <ion-item>
            <ion-col size="4" id="row1">
              <div class="TaxiICon2"></div>
            </ion-col>
            <ion-col size="5">
              <div class="align-col">
                <h4 id="h44"></h4>
                <p id="p4"></p>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="amtStyle">
                <h4></h4>
              </div>
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row tappable>
          <ion-item id="red">
            <ion-col size="4" id="row1">
              <div class="TaxiICon2"></div>
            </ion-col>
            <ion-col size="5">
              <div class="align-col">
                <h4 id="h44"></h4>
                <p id="p4"></p>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="amtStyle">
                <h4></h4>
              </div>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-list>
    </div>

    <div *ngIf="dProvider.timeToReach != 'calculating...' && dProvider.price != null" >
      <ion-list>
        <ion-radio-group value="taxi" (ionChange)="radioGroupChange($event)" [(ngModel)]="yesorno">
          <ion-row tappable>
            <ion-item>
              <ion-radio slot="start" value="private"> </ion-radio>

              <ion-col size="4" id="row1">
                <div class="imgStyle">
                  <img src="assets/svgs/Taxi.svg" class="TaxiICon2" />
                </div>
              </ion-col>
              <ion-col size="5">
                <div class="align-col">
                  <h4 id="h44">Private</h4>
                  <p id="p4">Arrives in {{dProvider.timeToReach}}</p>
                </div>
              </ion-col>
              <ion-col size="3">
                <div class="amtStyle">
                  <h4>₵{{(dProvider.price)}}</h4>
                </div>
              </ion-col>
            </ion-item>
          </ion-row>
         
        </ion-radio-group>
      </ion-list>
      <ion-col size="12" class="centerBtn">
        <ion-button (click)="checkVal()">
          <span> Confirm Trip</span>
        </ion-button>
      </ion-col>
    </div>
  </div>

  <!-- RIDE TYPE SELECTED-->
  <div id="norideBar" class="bottom-bar2" *ngIf="rideSelected == true && pop.hasCleared == false && !cMap.onbar2">
    <div class="ion-padding" class="request-for-ride2">
      <h4 class="butt" class="ion-text-center">Are you ready ?</h4>
      <p class="centerText">
        <img src="/assets/svgs/Taxi.svg" class="TaxiIComfirm" />
      </p>

      <div *ngIf="yesorno == 'private'">
        <div class="lineHeight">
          <h4 class="butt" class="ion-text-center">
             Private
            <span style="font-size: 40px; font-weight: 800">
              <strong>₵{{(dProvider.price)}}</strong></span>
          </h4>

          <hr />
          <p class="loca">
            <span> <img src="assets/icon/dott.png" class="dott" /></span>
            <b> {{detination_words}}</b>
          </p>
        </div>
      </div>

      <ion-col size="12" class="centerBtn">
        <ion-button (click)="Start()">
          <span> Confirm Pickup</span>
        </ion-button>
      </ion-col>
    </div>
  </div>
  <!-- END RIDE TYPE SELECTED-->

  <!-- Booking section  -->

  <div id="norideBar" *ngIf="cMap.norideavailable == true" class="bottom-bar">
    <div class="request-for-ride">
      <img id="envelope" src="assets/icon/world.png" />

      <p class="butt" class="ion-text-center">
        No Driver Available In This Area
      </p>

      <ion-col size="12" class="centerBtn">
        <ion-button (click)="dismiss_noride()"> Dismiss </ion-button>
      </ion-col>
    </div>
  </div>

  <!-- CONNECTING TO DRIVER-->
  <div id="norideBar" *ngIf="cMap.onbar2" class="carbottom-bar2">
    <div class="ion-padding" class="request-for-ride2">
      <p class="centerText">
        <img src="/assets/svgs/Taxi.svg" class="TaxiICon" />
      </p>

      <h4 class="butt" class="ion-text-center">
        <strong>Connecting to the nearest driver ......</strong>
      </h4>
      <!-- <p class="centerText" (click)="onChange($event)">
          <img src="/assets/svgs/times-solid.svg" class="TaxiICon" />
        </p> -->

      <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
      </div>

      <ion-button color="primary" class="button_style" (click)="onChange($event)">
        Cancel Request
        <ion-icon color="light" name="close" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- ENDED CONNECTING TO DRIVER-->

  <!-- DRIVER FOUND-->



  <label *ngIf="cMap.onbar3">

    <input type="checkbox" name="run" value="click" (click)="completeItem()" />
    <div id="button1" class="button" style="z-index: 999999999999">
      <ion-icon name="ios-more" style="font-size: 34px; margin-top: 13px"></ion-icon>

      <button class="main-con">
        <div class="driverFoundNew" *ngIf="cMap.onbar3">
          <div class="ion-padding" class="request-for-ride2">
            <!-- WHEN DRIVER IS FOUND-->
            <div class="headSection" *ngIf="dProvider.destination_time == null && driver_arrived == null">
              <div class="moveHeader" (click)="OpenDriveInfo()">
                <span style="font-size: 25px; font-weight: 800; margin-left: 10%">
                  <strong>Driver Found!</strong></span>
                <br />
                <span class="centerText">Arriving in {{dProvider.arriving_time}}, get ready!</span>
              </div>
            </div>

            <!-- WHEN DRIVER ARRIVES-->
            <div class="headSection_driver_arrive" *ngIf="driver_arrived == true && !dProvider.destination_time"
              (click)="OpenDriveInfo()">
              <div class="moveHeader">
                <span style="font-size: 25px; font-weight: 800; margin-left: 10%">
                  <strong>Driver has Arrived!</strong></span>
                <br />
                <span class="centerText">Please confirm the car number to be sure !</span>
              </div>
            </div>

            <!-- WHEN DRIVER IS ON THE WAY TO DESTINATION-->
            <div class="headSection" *ngIf="dProvider.destination_time">
              <div class="moveHeader">
                <span style="font-size: 25px; font-weight: 800; margin-left: 10%">
                  <strong>Trip Ongoing</strong></span>
                <br />
                <span class="centerText">Estimated Arrival {{dProvider.destination_time}}</span>
              </div>
            </div>

            <div class="resultContainer">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <div class="img-wrapper">
                      <ion-avatar>
                        <ion-icon name="contact" id="drivericonSize" (click)="OpenDriveInfo()" *ngIf="!picture">
                        </ion-icon>

                        <img [src]="picture" id="drivericonSize" *ngIf="picture" (click)="OpenDriveInfo()" />
                      </ion-avatar>
                    </div>
                  </ion-col>
                  <ion-col size="7">
                    <div class="content-wrap">
                      <span class="bookTitle">{{carType}}</span>
                      <br />
                      <span style="font-size: 30px; font-weight: 800" class="bookPrice">{{plate}}</span>
                      <br />
                      <span class="bookTitle">Your driver is {{name}}</span>
                    </div>
                  </ion-col>

                  <ion-col size="2">
                    <div class="img-wrapper">
                      <img src="assets/icon/chat.svg" class="chatIcon" (click)="Send()" />
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

                    <ion-item> <ion-icon name="pin" style="color: #fbb91d"></ion-icon> &nbsp;{{detination_words}}</ion-item>
                    
                    <ion-item *ngIf="!dProvider.new_price_for_add_stop"> <ion-icon name="cash" style="color: #acacac"></ion-icon>&nbsp;₵{{(dProvider.price)}}</ion-item>

                    <ion-item *ngIf="dProvider.new_price_for_add_stop"> <ion-icon name="cash"
                        style="color: #acacac"></ion-icon>&nbsp;{{(priceAfterAddStop)}}</ion-item>

                    <ion-item (click)="showAddressModal(3)" *ngIf="!newDestinationStop"> <ion-icon name="add"></ion-icon> Add
                      Stop</ion-item>

                      <ion-item *ngIf="newDestinationStop"> <ion-icon name="pin"></ion-icon> {{newDestinationStop}}&nbsp;
                      <ion-badge color="success">
                        New Stop</ion-badge>
                      </ion-item>
                    
                  

            <ion-col size="12" class="centerBtn">
              <ion-button (click)="callDriver()">
                <ion-icon name="call"></ion-icon> <span> Call Driver</span>
              </ion-button>
            </ion-col>
          </div>
        </div>
      </button>
    </div>
  </label>
  <!-- END DRIVER FOUND-->

  <!-- TEST-->
 <!-- <label>
  
    <input type="checkbox" name="run" value="click" (click)="completeItem()" />
    <div id="button1" class="button" style="z-index: 999999999999">
      <ion-icon name="ios-more" style="font-size: 34px; margin-top: 13px"></ion-icon>
  
      <button class="main-con">
        <div class="driverFoundNew">
          <div class="ion-padding" class="request-for-ride2">
       
  
          

            <div class="headSection">
              <div class="moveHeader">
                <span style="font-size: 25px; font-weight: 800; margin-left: 10%">
                  <strong>Trip Ongoing</strong></span>
                <br />
                <span class="centerText">Estimated Arrival 2mins</span>
              </div>
            </div>
  
            <div class="resultContainer">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <div class="img-wrapper">
                      <ion-avatar>
                        <ion-icon name="contact" id="drivericonSize" (click)="OpenDriveInfo()" *ngIf="!picture">
                        </ion-icon>
  
            
                      </ion-avatar>
                    </div>
                  </ion-col>
                  <ion-col size="7">
                    <div class="content-wrap">
                      <span class="bookTitle">Honda</span>
                      <br />
                      <span style="font-size: 30px; font-weight: 800" class="bookPrice">GT-22334</span>
                      <br />
                      <span class="bookTitle">Your driver is Kwame App</span>
                    </div>
                  </ion-col>
  
                  <ion-col size="2">
                    <div class="img-wrapper">
                      <img src="assets/icon/chat.svg" class="chatIcon" (click)="Send()" />
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

                <ion-item> <ion-icon name="pin" style="color: #fbb91d"></ion-icon> &nbsp;Kokomlemle</ion-item>

                <ion-item> <ion-icon name="cash" style="color: #acacac"></ion-icon>&nbsp; ₵20</ion-item>

                 
                <ion-item >
                   <ion-icon name="pin"></ion-icon> Kaneshie Quarters&nbsp;<ion-badge color="success">
                    New Stop</ion-badge>
                </ion-item>

            
           
            <ion-col size="12" class="centerBtn">
              <ion-button >
                <ion-icon name="call"></ion-icon> <span> Call Driver</span>
              </ion-button>
            </ion-col>
          </div>
        </div>
      </button>
    </div>
  </label> -->
  <!-- END TEST-->

</ion-content>