<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-button (click)="closeModal()" ion-button color="primary" fill="clear">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
      <span style="margin-left: 30px; font-size: 1.4em"
        >DRIVER AND CAR INFO</span
      >
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll" padding>
  <div text-center class="whiteFlap">
    <ion-title>
      <img
        class="profile-pic"
        [src]="info.Driver_picture"
        width="40%"
        height="40%"
      />
    </ion-title>

    <ion-title>Driver Name: {{info.Driver_name}} </ion-title>
    <!-- <h4 text-center>License No # : {{info.Driver_license}}</h4> -->
  </div>

  <div text-center class="whiteFlap">
    <!--   <ion-item>
      <h4 text-center>
        Rating: +{{info.Driver_Positive_rating}}/{{info.Driver_Negative_rating}}
      </h4></ion-item
    > -->
    <ion-item>Car Type: {{info.Driver_carType}}</ion-item>
    <ion-item><h4 text-center>Plate No: {{info.Driver_plate}}</h4> </ion-item>
    <ion-item> <h4 text-center>SEATS: {{info.Driver_seats}}</h4></ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <!-- <ion-button class="buttonNew" (click)="onChange($event)">
    Cancel Ride
  </ion-button> -->

      <ion-col size="12" class="centerBtn">
        <ion-button (click)="onChange($event)"> Cancel Ride </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
