.buttonNew {
  border: 5px solid #ffff00;
  width: 60%;
  left: 50%;
  margin: 0;
  // position: absolute;
  top: 70%;
  left: 50%;
  // -ms-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
}

 .centerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

  }

.button {
  height: 50px;
}
.butt {
  display: inline-table;
  height: auto;

  overflow: hidden;
}

.price {
  color: rgba(52, 184, 12, 0.705);
  font-size: 1.67em;
  padding-top: 14px;
  padding-bottom: 14px;

  border-radius: 12px;
  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: rgba(52, 184, 12, 0.705);
  }
}

.location {
  width: auto;
  // border-bottom: 1px solid color($colors, light, base);
  padding-top: 8px;
  padding-bottom: 8px;
  p {
    font-size: 1.3em;
    height: auto;
  }

  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: orange;
  }
}

.date {
  color: orange;
  font-size: 1.47em;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(216, 216, 216);
  // border: 1px solid color($colors, light, base);
  //border-bottom: 1px solid color($colors, light, base);
  // border-radius: 12px;
  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: rgba(52, 184, 12, 0.705);
  }
}

.destination {
  width: auto;
  // border-bottom: 1px solid color($colors, light, base);
  padding-top: 8px;
  padding-bottom: 8px;
  ion-icon {
    font-size: 0.8em;
    padding: 5px;
    color: darkslateblue;
  }
}

#envelope {
  height: auto;
  width: 6em;
}

.bars {
  margin-top: 0%;
  padding: 12px;

  .poiter {
    z-index: 5;
    margin-left: 1%;
    background: rgba(240, 240, 240, 0.92);
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
  }

  .bars-locate {
    height: 50px;
    width: 100%;
    background: rgba(240, 240, 240, 0.92);
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    //  margin: -12% 0 0 -50px;
    margin-left: 0%;

    z-index: 3;
    // border: 1px solid rgb(216, 216, 216);
    border-radius: 12px;
    overflow: hidden;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      color: blue;
      padding: 5px;
    }
  }

  .bars-destinate {
    height: 100px;
    width: 100%;
    background: rgba(240, 240, 240, 0.92);
    margin: 3% 0 0 -50px;
    margin-left: 0%;
    z-index: 3;
    border-left: 1.1px solid rgb(216, 216, 216);
    border-right: 1.1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    overflow: hidden;
    border-radius: 50px;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      padding: 5px;
      color: rgba(52, 184, 12, 0.705);
    }
  }

  .bars-price {
    border: 5px solid #ff5100;
    width: 60%;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    ion-icon {
      position: absolute;
      font-size: 1em;
      left: 2%;
      color: blue;
      padding: 5px;
    }
  }
}

#position {
  text-align: center;
  padding-left: 17px;
}

#whereto {
  text-align: center;
  padding-left: 17px;
}

#stuff {
  color: rgba(52, 184, 12, 0.705);
  width: 100%;
  height: 60% !important;
  border: 1px solid rgba(52, 184, 12, 0.705);
}

.no-scroll {
  background: blue;
}

#buttonContainer {
  width: 100%;
  button {
    //height: 80% !important;
    background: blue;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    margin: 6px;
    // border: 6px solid rgb(255, 255, 255);
    padding: 15px;
  }
}

h1 {
  color: white;
}

.stack {
  text-align: center;
  font-size: 0.5em;
  color: white;
}

.guttonz {
  background: red;
  border-radius: 15px;
  height: auto;
  width: auto;
  margin-left: 4%;
  // box-shadow: 0px 0px 1px 0px color($colors, nav-shadow, base);
  color: white;
}
