.footer-md:before {
  left: 0;
  top: -2px;
  bottom: auto;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: url();
  background-repeat: repeat-x;
  content: "" !important;
}

form {
  margin-top: 5%;
}
