<ion-slides pager="true">

  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/img/a-splash-1.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="goToHome()">Book Your Ride</ion-button>
      </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/img/a-splash-2.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="goToHome()">Book Your Ride</ion-button>
      </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/img/a-splash-3.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="goToHome()">Book Your Ride</ion-button>
      </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/img/a-splash-4.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" color="primary" (click)="goToHome()">Book Your Ride</ion-button>
      </ion-col>
    </ion-row>
  </ion-slide>

</ion-slides>