<!-- <ion-header no-border>
  <ion-title style="padding-top: 30px">{{lp.translate()[0].rate}}</ion-title>
</ion-header>

<ion-content text-center padding>
  <ion-title>{{lp.translate()[0].rateexp}}</ion-title>
 

  <rating
    [(ngModel)]="rate"
    readonly="false"
    size="default"
    (ngModelChange)="onRateChange($event)"
  >
  </rating>

  <div class="reviewspace">
    <ion-title>{{lp.translate()[0].review}}</ion-title>
    <form (ngSubmit)="logForm()">
      <ion-textarea
        #myInput
        id="myInput"
        rows="1"
        maxLength="500"
        [(ngModel)]="todo.description"
        name="description"
      >
      </ion-textarea>

      <ion-button class="button" padding type="submit" epand="block"
        >{{lp.translate()[0].submit}}</ion-button
      >
    </form>
  </div>
</ion-content> -->

<ion-content class="backgroundColor">
  <div class="driverFound">
    <div class="ion-padding" class="request-for-ride2">
      <div class="headSection">
        <div class="moveHeader">
          <span style="font-size: 25px; font-weight: 800">
            <strong>Pay & Rate Driver</strong></span
          >
        </div>
      </div>

      <h4 style="text-align: center;">Pay {{name}}, <span style="font-size: 60px; font-weight: 800; text-align: center;color: green">₵{{total}} </span> </h4>
      <p style="text-align: center;">Main Fare: ₵{{price}} </p>
        <p style="text-align: center;">Pause/ Waiting Cost: ₵{{waitTimeCost}} </p>

      <div class="resultContainer">
        <rating
          [(ngModel)]="rate"
          readonly="false"
          size="default"
          (ngModelChange)="onRateChange($event)"
        >
        </rating>

        <div style="display: inline">
          <div class="content-wrap">
            <div class="reviewspace">
              <span
                style="
                  font-size: 15px;
                  font-weight: 200;
                  text-align: center;
                  margin-left: 20%;
                "
              >
                Write a review</span
              >
              <form (ngSubmit)="logForm()">
                <ion-textarea
                  #myInput
                  id="myInput"
                  rows="1"
                  maxLength="500"
                  [(ngModel)]="todo.description"
                  name="description"
                >
                </ion-textarea>

                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button
                        [ngStyle]="{'margin-top': 20 + 'px', 'font-size': 1.1 + 'em'}"
                        color="dark"
                        expand="block"
                        shape="round"
                        type="submit"
                      >
                        SUBMIT
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
