<!--
  Generated template for the CardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar style="margin-top: 25px">
    <ion-button (click)="goBack()" color="primary" fill="clear">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
      <span style="margin-left: 30px; font-size: 1.4em"
        >{{lp.translate()[0].card}}</span
      >
    </ion-button>
  </ion-toolbar>
</ion-header>
<!--
    Generated template for the CardPage page.
  
    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
  -->
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-label style="color: rgb(255, 255, 255)"
          >ADD MOMO ACCOUNT</ion-label
        >
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="/" method="post" id="payment-form">
        <div class="form-row">
          <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
          </div>
          <!-- Used to display Element errors -->
          <div id="card-errors" role="alert"></div>
        </div>
        <ion-button
          class="button"
          color="danger"
          expand="block"
          size="large"
          shape="round"
          type="submit"
          >Add Momo</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
