<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button (click)="goBack()" ion-button color="primary" fill='clear'>
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon> <span
        style="margin-left:30px; font-size: 1.4em">{{lp.translate()[0].payment2}}</span>
    </ion-button>

  </ion-toolbar>



</ion-header>


<ion-content class="yes-scroll" padding>


  <ion-list padding>
    <ion-radio-group value="">
      <div *ngFor="let item of items">
        <ion-button expand='block' id='item' color="success" size='large'>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon color='light' name="card" slot='start'>
                </ion-icon>
              </ion-col>
              <ion-col>
                <span> {{item.card.source.card.brand}} **** {{item.card.source.card.last4}} </span>
              </ion-col>
              <ion-col>
                <ion-radio color='light' checked='{{item.checked}}'
                  (ionSelect)="UseCard(item.card.source.id, item.key, item.customerID)"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>

      <ion-button expand='block' id='item' color="success" size='large'>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon color='light' name="cash"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label>
                Use Cash
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-radio color='light' checked='{{payWith}}' value="" (ionSelect)="UseCash()"></ion-radio>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-button>
    </ion-radio-group>
  </ion-list>

  <h1 style="text-align: center;">Credits</h1>
  <h1 *ngIf='credits' style="text-align: center;">${{credits}}</h1>
  <h1 *ngIf='!credits' style="text-align: center;">$0.00</h1>

  <ion-button expand='block' id='item' color="primary" (click)='gotoCard()' size='large'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon color='light' name="add">
          </ion-icon>
        </ion-col>
        <ion-col>
          <ion-label [hidden]="ph.card != null">
          {{lp.translate()[0].addcard}}
          </ion-label>
        </ion-col>
        <ion-col>

          <ion-label [hidden]="ph.card == null">
            <ion-icon color='light' name="card">
            </ion-icon> {{cardnumber}}
          </ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>


  </ion-button>





  <ion-label text-center>

  </ion-label>
  <ion-button *ngIf='set.refer' expand='block' id='item' color="newColor" (click)="Promo()" size='large'>
    <ion-label>
      <ion-icon color='nav-color' padding name="trophy">
      </ion-icon>
      Enter A Referal Code.
    </ion-label>
  </ion-button>



</ion-content>