<!--
  Generated template for the AccountkitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div class="o_section" *ngIf="!requestCode">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-fab-button
            style="width: 40px; height: 35px"
            class="padding"
            color="Menubutton"
            color="primary"
            expand="block"
            (click)="Country()"
          >
            +233
          </ion-fab-button>
        </ion-col>
        <ion-col size="10">
          <ion-input
            class="input"
            type="text"
            placeholder="2321XXXXXXXXX"
            [(ngModel)]="userName"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button
      class="padding"
      color="primary"
      id="mybutton"
      expand="block"
      (click)="AuthPhone(userName)"
      >SUBMIT</ion-button
    >
  </div>

  <div class="o_section" *ngIf="requestCode">
    <ion-icon
      style="text-align: center"
      class="stack"
      class="padding"
      color="primary"
      position="stacked"
      >Enter Verification Code</ion-icon
    >
    <ion-input
      class="input"
      type="text"
      placeholder="00000"
      [(ngModel)]="userName"
    ></ion-input>

    <ion-button
      class="padding"
      color="gery"
      id="mybutton"
      expand="block"
      (click)="AuthCode(userName)"
      >VERIFY</ion-button
    >

    <div text-center><span id="countdown"></span> sec!</div>
  </div>
</ion-content>
